[2021-01-30 03:42] ymd-stella opened #1 "Merge ROS-related PRs"
This is a meta-ticket.

- [x] https://github.com/xdspacelab/openvslam/pull/184
- [x] https://github.com/xdspacelab/openvslam/pull/225
- [x] https://github.com/xdspacelab/openvslam/pull/276

[2021-01-30 03:52] ymd-stella opened #2 "Merge PRs about new features"
This is a meta-ticket.
Some PRs have not been reviewed.

- [ ] https://github.com/xdspacelab/openvslam/pull/238
- [x] https://github.com/xdspacelab/openvslam/pull/295 (https://github.com/OpenVSLAM-Community/openvslam/issues/82)
- [ ] https://github.com/xdspacelab/openvslam/pull/399
- [x] https://github.com/xdspacelab/openvslam/pull/452
- [x] https://github.com/xdspacelab/openvslam/pull/460

[2021-01-30 03:54] ymd-stella opened #3 "Merge bug fixes"
This is a meta-ticket.
Some PRs have not been reviewed.
If you are willing to work on this, please choose a subtask and create an issue or a draft PR.

- [x] https://github.com/xdspacelab/openvslam/pull/339 (https://github.com/OpenVSLAM-Community/openvslam/issues/81)
- [x] https://github.com/xdspacelab/openvslam/pull/345
  - https://github.com/alvinsunyixiao/openvslam/commit/a9bab6da4f90229aa5dfbf

[2021-01-30 04:00] ymd-stella opened #4 "Use shared_ptr/weak_ptr for keyframe and landmark"
original PR: https://github.com/xdspacelab/openvslam/pull/139

Review and detailed performance test is needed.

[2021-01-30 04:06] ymd-stella opened #5 "Versioning"
ref. https://semver.org

[2021-01-30 04:08] ymd-stella opened #6 "Release with Bloom"
ref. https://index.ros.org/doc/ros2/Tutorials/Releasing-a-ROS-2-package-with-bloom/

[2021-01-30 06:28] ymd-stella opened #7 "Setting up CI"

[2021-01-30 15:36] Cambloid opened #8 "develop branch"
The develop branch has translated comments and initial support for windows build. could the branch be forked as well?

[2021-01-31 01:57] ymd-stella commented on #8
Thank you for your comment.
It has been merged now.

[2021-01-31 01:57] #8 closed

[2021-01-31 05:14] ymd-stella commented on #7
https://www.docker.com/increase-rate-limits

[2021-01-31 08:04] ymd-stella commented on #7
Travis-CI jobs have been disabled because they are taking too long.

[2021-01-31 14:29] Cambloid opened #17 "Modified version of DBoW2"
As far as I know is that OpenVslam uses a modified version of DBoW2

https://github.com/shinsumicco/DBoW2

should that be forked as well?

[2021-01-31 14:59] ymd-stella commented on #17
I've created https://github.com/OpenVSLAM-Community/DBoW2.

[2021-01-31 14:59] #17 closed

[2021-01-31 15:50] Cambloid opened #18 "Build scripts and vcpkg"
The original author created some powershell scripts to build openvslam on windows

https://github.com/shinsumicco/openvslam-on-msvc

I tried with vcpkg but it fails when setting the -DDBoW2_DIR in the command line.
It works when DBoW2_DIR path is set in the cmake script.

Is this caused by vcpkg?

[2021-01-31 23:51] ymd-stella commented on #18
It works when DBoW2_DIR path is set in the cmake script.

I would like to see details of the procedure that fails and the procedure that succeeds.
I may be able to give you some advice, or someone else may be able to.

I don't know, I've never tried to build on Windows.
I'm not even sure how useful it would be to use vcpkg.

Contributions are welcome.
But we can't safely merge them until the Windo

[2021-02-01 00:09] ymd-stella opened #19 "Setting up CI for windows and mac"
It is related to #7 and #18.
I'm considering CircleCI.

[2021-02-01 00:22] #7 closed

[2021-02-01 10:55] ymd-stella opened #20 "Setting up CI for ROS"
- [x] build (ROS)
- [x] build (ROS2)
- [x] run (ROS)
- [x] run (ROS2)
- [x] Add Dockerfile.ros.ci and Dockerfile.ros2.ci
- [x] Update Dockerfile.ros
- [x] Add Dockerfile.ros2

[2021-02-03 12:15] Cambloid commented on #18
vcpkg makes it much easier especially when you have a cmake project and many dependencies
the issue with DBoW2_DIR got resolved with cmake presets

I just made a pull request wih a possible solution:
https://github.com/OpenVSLAM-Community/openvslam/pull/23

[2021-02-03 22:58] ymd-stella commented on #18
@Cambloid It seems that the change `find_package(SuiteSparse CONFIG)` is causing the error `cs.h: No such file or directory` .

[2021-02-03 23:09] ymd-stella commented on #18
I reverted the changes in CMakeLists.txt.
Please let me know if you have a successful build using vcpkg without affecting existing builds.

[2021-02-03 23:12] #18 closed

[2021-02-04 00:35] Cambloid commented on #18
the build fails with the missing include file.

would something like this be acceptable?:
    if(MSVC)
	find_package(SuiteSparse CONFIG)
    else()
        find_package(SuiteSparse)
    endif()

[2021-02-05 00:24] ymd-stella opened #26 "Documentation of the community version"
- [x] Update README.md
- [ ] Update docs/

ref. https://readthedocs.org/

[2021-02-06 05:55] ymd-stella commented on #26
I made it.
openvslam-commnunity.rtfd.io

[2021-02-11 11:10] #20 closed

[2021-02-11 12:37] #1 closed

[2021-02-11 12:43] #5 closed

[2021-02-12 23:02] SteveMacenski commented on #26
@ymd-stella there's an extra `n` in your URL

Also, can you highlight why this community version? Is the original version's maintainers non-responsive and weren't willing to add others as maintainers?

We're looking at using OpenVSLAM as the formal integration for VSLAM for navigation2 in the next couple of months

[2021-02-12 23:05] SteveMacenski commented on #6
I can help with this too if you have questions

[2021-02-13 07:56] ymd-stella commented on #26
I have asked the community a question and until now there has been no response from the maintainers of the original version.
https://spectrum.chat/openvslam/general/what-do-you-think-about-a-community-fork~be231238-c7d5-478c-b3dd-61d437d101ad

[2021-02-13 09:32] ymd-stella commented on #6
My plan is as follows.

- Split the ros directory part of openvslam into openvslam_ros
- Separate the ROS version from the ROS2 version by branch
- Update the documentation for use with ROS/ROS2
- Update the Dockerfile
- Update the CI workflow
- Update openvslam for release on Bloom
  - Add package.xml
  - Follow the instructions in https://wiki.ros.org/bloom/Tutorials/FirstTimeRelease
- Update op

[2021-02-13 09:34] ymd-stella commented on #6
https://github.com/introlab/rtabmap is a good reference to do it.

[2021-02-13 19:57] SteveMacenski commented on #26
Makes sense, maybe worth emailing them from the emails in the package.xml? I just want to make sure that reasonable attempts to contact the developers are made since this would be a long-term commitment to maintain this and it would be a pain if the original developers came back after some new developments and this was out of sync. I would think you and they would both prefer to work in the main o

[2021-02-13 20:00] SteveMacenski commented on #6
Makes sense - sounds like you've worked with bloom before. Not everyone has and I know it can be a _real_ pain to get up to speed on for your first few times.

In case its helpful, I'll just leave this here. This is my tl;dr Bloom guide as requested by others in the past that gives a plain-english step-by-step guide without all the options listed up front. Sometimes its useful just to have a "here

[2021-02-14 03:09] ymd-stella commented on #26
I have sent them an email.
As the main maintainers appear to have been students, it is possible that their email addresses have become invalid after they have graduated.
In fact, for some email addresses, an error was returned.

[2021-02-14 04:12] SteveMacenski commented on #26
Ooof, that doesn’t bode well. I’m just shocked that they’d build such a fantastic, well designed, and highly performant VSLAM like this and just walk away.

Well, I think if you don’t hear back from the couple of email addresses that didn’t bounce back, then I think you did all you reasonably could.

[2021-02-21 02:40] ymd-stella commented on #6
I' m considering how to resolve the dependency on the modified DBoW2.

[2021-02-21 04:58] ymd-stella commented on #6
It seems that in order to release it for Ubuntu 18.04 it needs to be modified to work with OpenCV 3.2.

[2021-02-21 05:15] ymd-stella commented on #6
I'm considering adding DBoW2 as a submodule like https://github.com/leggedrobotics/darknet_ros.

[2021-02-21 08:26] ymd-stella commented on #6
In order to use the new versions of OpenCV and libg2o, I have decided to release openvslam for noetic/foxy.

[2021-02-23 17:29] SteveMacenski commented on #6
I'm not sure - anything openCV related if the wrong version is used turns into a complete nightmare

[2021-02-24 00:12] ymd-stella commented on #6
OpenVSLAM requires OpenCV 3.3.1 or later. (4 or later is also available.)
Ubuntu 18.04 does not meet this requirement as OpenCV 3.2 is used, but Ubuntu 20.04 meets this requirement as OpenCV 4.2 is used.

[2021-02-24 03:21] SteveMacenski commented on #6
Ah ok, and you want 18.04 to support Melodic? My uses (for Nav2) is all in 20.04 (since all ROS2 distributions I believe are on 20.04 now as well as Noetic)

[2021-02-25 17:05] adelpit opened #36 "Invalid epipole check in match_for_triangulation"
Re-posting [this upstream issue](https://github.com/xdspacelab/openvslam/issues/526) here:

The epipole check for triangulating new points is being performed even if `reproject_to_bearing` returns false and `epiplane_in_keyfrm_2` is invalid. This can happen for, for example, perspective cameras when the epipole is not visible. The resulting value of `epiplane_in_keyfrm_2` is not normalized which c

[2021-02-26 02:39] ymd-stella opened #37 "Continue publishing under 2-clause BSD license"
Check out the work required to continue publishing under the BSD license.

https://github.com/OpenVSLAM-Community/openvslam/pull/35#issuecomment-786322269

Tasks:

- [ ] (moved) #239
- Clarify the scope of contribution for each paper and treat it appropriately in README.md (for moral issue)
  - [x] ORB_SLAM/ORB_SLAM2
  - [x] ProSLAM
  - [x] UcoSLAM

[2021-02-26 07:37] SteveMacenski opened #38 "Support Stereo and RGBD in ROS2"
Hi,

I notice only monocular is supported in ROS2 (with ROS1 having all 3). This is something me and my colleague can help commit to implementing as part of the Nav2 / ROS2 integration work. We'll likely have other features / things we want to expose (like adding a feature map publishing topic, among others) but figured this is a good place to get the ball rolling.

[2021-02-26 23:36] ymd-stella commented on #37
Extracted similar modules between ORB_SLAM2 and OpenVSLAM.

- data modules
  - Frame - data::frame
  - KeyFrame - data::keyframe
  - MapPoint - data::landmark
  - Map - data::map_database
  - KeyFrameDatabase - data::bow_database, module::loop_detector, module::relocalizer
- visualization modules
  - Viewer - pangolin_viewer
  - MapDrawer, FrameDrawer - publish::*
- other modules
  - System - syst

[2021-02-27 00:20] SteveMacenski commented on #37
There's significant changes in the project architecture / filesystem and "although written from scratch" (from that link) tells me its on the right side of that line. There's better structured code for things like the camera models and such. Tons of optimizations and better written / faster ways of doing things ORB-SLAM2 completely lacks and uses OpenCV for.

The things you link to are similar to

[2021-02-27 01:00] masahi commented on #37
I don't know the current code, but when I was looking at it, the similarity was way more than coincidence. That one can only tell if you spend a lot of time on ORB2_slam codebase. At that time I also wondered publishing openvslam as bsd while the original code was GPL is a good idea.

[2021-02-27 05:31] ymd-stella commented on #37
@masahi I think there are similarities in terms of structure and algorithms, but I think that is because it is based on the methodology of the ORB_SLAM2 paper.
However I think the similarity at the code level is low. (It would appear that the only similarities are in the few areas where there is less freedom of expression.)
Just to confirm, is the similarity you are pointing out the former(structu

[2021-02-27 05:49] masahi commented on #37
It was almost two years ago so my memory is not clear, but I would say it is code level. I didn't read the paper because it was not out yet, see https://github.com/xdspacelab/openvslam/issues/12#issuecomment-496532472, so the only way to understand this work was by reading the code. I had code-level understanding of ORB_slam (I had to debug their code because it was full of bugs), so reading openv

[2021-02-27 13:05] ymd-stella commented on #37
I will describe my opinion from a moral point of view. I take "for moral reason" to mean because it goes against the will of the ORB_SLAM2 developers.

Let's consider the will of the ORB_SLAM2 developers in choosing the GPL. I think the purpose of GPL is to encourage people to contribute to the community by making the code public. In other words, the goal is to make ORB_SLAM2 a better Visual SLAM,

[2021-02-27 21:33] masahi commented on #37
I do agree that bsd would be beneficial to the community. What I don't like, as a person who is passionate about open source software is the dishonesty and lack of respect for ORB_slam from the openvslam team, refusing to admit that this is ORB_slam derivative work. In the termination release, they even described ORB_slam as "another SLAM software that happens to be similar to openvslam", when ORB

[2021-02-28 02:30] ymd-stella commented on #37
License protects creative expression, not ideas; Ideas are protected by patents. Licensing does not impose any restrictions on the use of ideas. Even if we implement a new library based on the idea of ORB_SLAM2 without changing any of its functionality, we can still publish it under our own license. (As long as we don't steal the creative expression in the ORB_SLAM2 code.)

You may be confused bec

[2021-02-28 02:52] masahi commented on #37
Sure I get your point, indeed what I said above was not precise. So idea being the same is no problem wrt licensing, and whether or not it is novel doesn't matter. What you are concerned about, and the reason the code was taken down, is code similarity, correct?

I don't think code was stolen or copy-pasted as is. They reimplemented the same idea differently, but failed to acknowledge the original

[2021-02-28 03:06] ymd-stella commented on #37
Could you please tell me more about it?
It seems to be listed as a reference in README.md, but does that mean it's not enough?

Rather than saying that continuing to use BSD will cause problems, the claim seems to be that using GPLv3 will eliminate any doubt of problems. I think this is a distinctly different claim.

[2021-02-28 03:24] masahi commented on #37
I think having ORB_slam listed as one of references doesn't count as an acknowledgement, since unlike other systems in the reference, openvslam code is based entirely on ORB_slam. I don't know the code of other systems, but given that the termination release only mentions ORB_slam, I think we can assume that other systems are not concerned. So I'd expect a special treatment for ORB_slam, rather th

[2021-02-28 05:04] ymd-stella commented on #37
For example, is it sufficient to include it in the overview in README.md?

I think this is an overstatement. I checked the history, and in fact, other references such as ProSLAM and UcoSLAM were added at the same time. They are also clearly listed as references in the paper. Please be careful about what you say so as not to defame the authors.

[2021-02-28 05:35] masahi commented on #37
Yes, in my opinion, the readme should clearly state that this is an ORB derivative work. But I'm not an openvslam user, so it is up to you.

I don't understand how your statements above relate to my claim of the authors hiding the fact that their system is ORB derivative? I know these references are added at the same time. Treating ORB just like any other prior works is the very reason of my suspi

[2021-02-28 06:59] ymd-stella commented on #37
Thanks for your comments.
I just realized that the paper was not available at the time of https://github.com/xdspacelab/openvslam/issues/12#issuecomment-496532472.

In conclusion, it seems that the heart of the problem that @masahi pointed out is simply a lack of description. For each of the papers that OpenVSLAM refers to, it needs to be made clear which part of the software is involved. I believ

[2021-02-28 07:17] masahi commented on #37
Sounds good, thanks. I agree with your point on licensing and moral issues being separate topics.

A supporting evidence to pick up ORB_slam, among other works, is the fact there are more than one person, who:
* Have read both ORB_slam and openvslam code
* And raised concerns around code similarity

This includes me, the person who sent https://github.com/xdspacelab/openvslam/issues/12 (see his co

[2021-02-28 07:19] ymd-stella commented on #37
As a side note, GPL does not prevent commercial use. As long as you accept the release of the source code, you can use it commercially.

[2021-02-28 07:29] masahi commented on #37
Well, that doesn't happen in practice, does it? Commercial people usually cannot release their code, that's why people are complaining here.

[2021-03-01 00:54] SteveMacenski commented on #37
I see no morality issues. Their paper clearly mentions the similarities and references the ORB-SLAM papers liberally. If the README wanted to be updated to mention that this method is a similar implementation of the ORB-SLAM2 paper, then I think that would be OK. More clarifications on the technique is never bad, but this is not derivative. If I re-implement ORB-SLAM2, that's not a derivative of t

[2021-03-01 01:52] masahi commented on #37
Sure I read the paper, and from the paper alone, I can see that people would get the impression that openvslam is a completely new system / has no relation to ORB_slam. They mentioned ORB_slam as one of prior works, together with others. They compare against ORB_slam in the experiment.

But reading the code, the influence of ORB_slam codebase on openvslam was immediately obvious to me. And the cod

[2021-03-01 02:27] masahi commented on #37
Here are another examples of code similarity, that I didn't mention in https://github.com/xdspacelab/openvslam/issues/12#issuecomment-496439323. The point is to show that I didn't cherry-pick parts I read as claimed by the following statement

Note that they use different function/class/variable names, but if you know ORB_slam codebase well enough you can see obvious correspondences.
https://githu

[2021-03-01 13:40] ymd-stella commented on #37
I think you are stating a conclusion based on insufficient evidence. I take it that you think you have listed enough evidence, but only a few are increasing.

In the first half, it seems to be mainly about software architecture and module structure. I have already pointed out that in https://github.com/OpenVSLAM-Community/openvslam/issues/37#issuecomment-786950559.

On the other hand, the last poi

[2021-03-01 15:39] masahi commented on #37
Before you say these are not enough evidence, have you actually take a look at the *contents* of each file? When I list `System.cpp` and `system.cpp`, I'm not merely saying that file/module structures are similar like you said in https://github.com/OpenVSLAM-Community/openvslam/issues/37#issuecomment-786950559, but that the contents of the twos files are too similar. Please take your time and do s

[2021-03-01 18:54] SteveMacenski commented on #37
We've read the code and we come to another conclusion. I think where we're missing each other is that **similar** does not mean **derivative**. I agree there are similarities, but there are also similarities with any reasonably implemented VSLAM system I'd make too - does that mean I too have to consider my implementations derivative? That's obviously not the case.

Would anyone using inheritance

[2021-03-01 19:24] mirellameelo commented on #37
@ymd-stella Thanks for your engagement. Allow me to express my concern... As you even said, you are not an expert in this license stuff. I genuinely believe such a complex thing, that leads to a lot of interpretation (different ones, as you can see in this thread) can not be that trivial to solve. Alghtout I deeply respect your contributions and intentions, I'd suggest a more cautious way, and esp

[2021-03-01 19:35] SteveMacenski commented on #37
My opinion on this is that we forked it while it was listed as BSD-2.0 and the version of the code is also versioning the license. From @ymd-stella, the original authors, and my review, we don't find any direct code copying but rather just using many of the same ideas (and properly cited in the paper).

My recommendation of action given this is to continue under the legally appropriate license (BS

[2021-03-01 20:02] masahi commented on #37
I generally agree with your point on different SLAM systems end up having similar structures - Although I've only read ORB_slam code deeply, I can imagine different systems influencing each other on their design and implementation.

The point I've been making, however, is that for the case of ORB_slam and openvslam, the similarity is well over that line. For example, how can you explain the fact t

[2021-03-01 20:11] mirellameelo commented on #37
Sounds great. So, in short, we all good to go in this fork - without changing the license for the last release (which is illegal) nor for new contributions. The only practical task here is to make (more) clear in the readme file the relation between OpenVSLAM and ORB-SLAM, which is something already pointed out in [Stella's comments](https://github.com/OpenVSLAM-Community/openvslam/issues/37#issue

[2021-03-01 20:47] masahi commented on #37
Here is my opinion:

* Code level analysis should be done by current maintainers, no matter what.
* README should clearly state and acknowledge the contribution ORB_slam had on openvslam. Treating ORB_slam just like any other prior works, like the current README does, is disrespectful to ORB_slam given the obvious, enormous influence ORB_slam code had on openvslam.

[2021-03-01 21:21] mirellameelo commented on #37
@masahi Thanks for replying. I am not able to see why a code-level analysis would help the actual maintainers to be ok - legally speaking (That's why I insist on an expert's opinion). Honestly, it sounds more like someone here is already facing some action.
In my point of view, no one besides the authors can express the real contribution from Orbslam, and no one here has the power to force them to

[2021-03-02 06:24] mirellameelo commented on #38
@SteveMacenski, there are new files modification regarding the stereo support for ROS2 in my last [PR](https://github.com/OpenVSLAM-Community/openvslam/pull/39). I appreciate it if you could review it. I used the @ymd-stella work as a base and follow the same approach.
I think it would be a good idea to tag the next steps with respect to ROS2.
Thanks in advance.

[2021-03-02 19:57] SteveMacenski commented on #38
@mirellameelo I think you should split your PR into 2. Pushing too much in a PR makes things slow down dramatically. One for doc updates and other for a big feature update would be best so that @ymd-stella can quickly review

[2021-03-02 20:02] SteveMacenski commented on #38
A concern I have here is that the ROS wrapper isn't making use of ROS time, so there's going to be issues in synchronizing the outputs of OpenVSLAM with the rest of a ROS-based system since the timing of the output poses and transforms may not be from the same clock

[2021-03-02 20:21] mirellameelo commented on #38
Thanks for replying. I agree regarding the timers and loggings. I'll change it.
Alghtout there are ROS2 packages responsible to publish frames, I think it is interesting just from a didactic point of view to keep this "publisher". These ones are aligned with the example to run in ROS. So I believe is a practical and easy way to do at least a test, especially for new users, besides its use as a ref

[2021-03-04 20:10] SteveMacenski commented on #38
For those in the Nav2 slack group, we're discussing on the mapping and localization channel how to port ROS2 + expose all the stuff necessary.

[2021-03-04 21:47] mirellameelo commented on #38
@SteveMacenski please take a look at [this comment](https://discourse.ros.org/t/new-navigation-slack/13845/9). I'm facing the same. Tks in advance

[2021-03-04 22:37] SteveMacenski commented on #38
Also working on making the parameters ROS-y so that people can modify the OpenVSLAM settings like any other ROS node

[2021-03-04 22:58] mirellameelo commented on #38
@SteveMacenski I'm facing [this](https://discourse.ros.org/t/new-navigation-slack/13845/9?u=mirellameelo). I just sent you a PM via LinkedIn.

[2021-03-05 02:52] SteveMacenski commented on #26
@ymd-stella did #40 complete part of this?

[2021-03-08 13:00] ymd-stella commented on #38
The ROS wrappers have been migrated to an independent repository https://github.com/OpenVSLAM-Community/openvslam_ros.
Please contribute there. If you want to create a new ROS issue, please create it in openvslam_ros.
The issues that already exist can be left.
The ros directory will be removed after confirming that there is no problem and updating the documentation.

[2021-03-08 14:46] ymd-stella opened #45 "system.h depends on the BoW header"
There is a dependency on the fbow (or DBoW2) header, even though it doesn't directly use the vocabularies.

[2021-03-08 21:19] #45 closed

[2021-03-10 03:51] Airplane5 opened #48 "Baidu Wangpan link is not available"
Except Google Drive and Baidu Wangpan, how can I get the test dataset?

[2021-03-10 04:41] SteveMacenski commented on #48
Actually the vocab drive link is just totally dead - @ymd-stella do you have that locally we can reupload somewhere?

[2021-03-10 04:44] SteveMacenski opened #49 "Remove link to spectrum chat?"
Hi,

I glanced through that spectrum and no one's answered anything as far as I could scroll. Maybe we should just put that to rest and remove links to it now that the official maintainers have given up on the project entirely.

[2021-03-10 04:45] SteveMacenski commented on #26
@ymd-stella what specifically in `/docs` needs to be updated? I could work on that tomorrow afternoon.

[2021-03-10 05:11] mirellameelo commented on #48
@Airplane5 do you mean these datasets?
[Equirectangular images](https://drive.google.com/drive/folders/1A_gq8LYuENePhNHsuscLZQPhbJJwzAq4)
[Fisheye](https://drive.google.com/drive/folders/1SVDsgz-ydm1pAbrdmhRQTmWhJnUl_xr8)
[All](https://openvslam-community.readthedocs.io/en/latest/simple_tutorial.html)

[2021-03-10 05:14] Airplane5 commented on #48
@mirellameelo
Thank u for reply!
I can't connect google drive because it's banned in China.

[2021-03-10 05:42] mirellameelo commented on #48
@Airplane5 well, if there is any other way I can send you at least one of these videos while it is not solved, let me know. =/

[2021-03-10 05:45] Airplane5 commented on #48
@mirellameelo  So nice of u. thank u again.

[2021-03-10 10:47] ymd-stella commented on #49
I don't think it's not working. Are you sure you're not misunderstanding something?

[2021-03-10 10:47] #49 closed

[2021-03-10 10:50] ymd-stella commented on #49
I watched as xdspacelab/openvslam was flooded with trivial questions. I do not agree with the removal of the community.

[2021-03-10 11:03] ymd-stella commented on #48
It exists in the docker image for CI.

[2021-03-10 17:52] SteveMacenski commented on #48
Can you point to where? I just looked at all the docker files in this repo and I don't see a reference to these files. I think I see something in the travis file, but that's not executed

[2021-03-10 17:58] SteveMacenski commented on #49
@ymd-stella I didn't say it wasn't working, I'm saying its not useful. If no one is answering questions, its just people screaming into the void with problems thinking someone will help (that isn't coming).

[2021-03-10 23:02] ymd-stella commented on #49
Even if no one answers, it helps in the following two ways

- We can remove trivial questions from github issues
- We can learn about what users are likely to get wrong and what they want to achieve

In addition, there is actually a useful exchange of information.

- https://spectrum.chat/openvslam/general/gets-stuck-in-a-single-position-if-left-still~1feef43c-6fae-4687-8fd9-89e9dccc9f3a
- https:/

[2021-03-10 23:34] SteveMacenski commented on #26
I think that closes out this ticket. Grepping for xdspace only gives the notification that this is a community fork

[2021-03-10 23:57] SteveMacenski commented on #48
This is a good question. A GCP or AWS bucket seems like the most reasonable place I think people can access it from via `wget` in the US and China, though that's not a free option. Drive is a reasonable free option, but has issues in China.

ORB-SLAM directly inputs it as a tarball in their git repo https://github.com/raulmur/ORB_SLAM2/blob/master/Vocabulary/ORBvoc.txt.tar.gz which technically wor

[2021-03-11 02:47] #26 closed

[2021-03-11 06:16] surfii3z commented on #49
@ymd-stella  How about discussion in github? there is a new feature for that?

[2021-03-11 22:35] ymd-stella opened #53 "Use GitHub Discussions"
https://github.com/OpenVSLAM-Community/openvslam/discussions

ToDo

- [x] Usability check
- [x] Documentation update
- [x] Announcement to Spectrum.chat

[2021-03-12 02:16] SteveMacenski commented on #48
https://github.com/OpenVSLAM-Community/DBoW2_orb_vocab/blob/main/orb_vocab.dbow2 file is now there!

[2021-03-12 10:27] ymd-stella commented on #48
I don't think we can close it yet.
What @Airplane5 is referring to is the dataset, not the vocabulary file.

[2021-03-12 12:24] Airplane5 commented on #48
@SteveMacenski
thank u!
I get the BoW right now.
But dataset is still out of reaching.
Could you give a link that I can access in China mainland if convenient?

[2021-03-12 18:06] SteveMacenski commented on #48
I dont think anyone on this thread can (or someone could). The data is on google drive and we dont have better options for files of that size. Try a VPN?

[2021-03-12 23:03] #53 closed

[2021-03-13 05:10] ShivamPR21 opened #55 "Missign header in frame_publisher.cc"
Hi! While trying to build and install the `openvslam`, an error occurred in the build step. The run of make command raised an error: complaining about `std::setprecision` that it isn't a member of `std`. I think there is a missing header in the `src/openvslam/publish/frame_publisher.cc`.

Adding the header [iomanip](https://en.cppreference.com/w/cpp/io/manip/setprecision) worked for me, is there a

[2021-03-13 08:37] #55 closed

[2021-03-14 01:37] ymd-stella commented on #6
@SteveMacenski May I ask you a question?
I have run bloom-release. The tags has been pushed to https://github.com/OpenVSLAM-Community/openvslam-release.

However, the automatic creation of the pull request failed.
`Failed to open pull request: KeyError - 'url'`

What is the pull request in the last step of bloom-release?
If I want to do this step manually, where and what kind of pull request shoul

[2021-03-14 02:58] mirellameelo commented on #3
Hi! Is this done or some still missing?

[2021-03-14 05:08] Airplane5 commented on #48
I will try using VPN. You can close now.
Thank you again!

[2021-03-14 05:41] ymd-stella commented on #3
If the item is not checked, it has not been merged.

[2021-03-14 05:41] #48 closed

[2021-03-15 19:14] SteveMacenski commented on #6
I haven't seen that particular error before, it really would depend when that error appeared in the process to know for sure. The last step is that it forks `rosdistro` and adds the entry with all of the information (and a few more questions about PR testing and documentation statuses) to a branch submitted against `rosdistro` which will trigger the build farm binary building process on the releas

[2021-03-15 23:31] ymd-stella commented on #6
https://github.com/ros/rosdistro/pull/28651

It worked. It seems that I tried to enter the document and source information halfway, which was a bad idea.

[2021-03-15 23:40] SteveMacenski commented on #6
Once it gets in, make sure to check in on https://build.ros2.org/ for the build status so you can make sure it built correctly / fix any issues. Usually on a first release to a new distro, I expect there to be an issue or two.

[2021-03-15 23:44] ymd-stella commented on #6
I'm at a loss as to where to find related information.

[2021-03-16 01:00] SteveMacenski commented on #6
Yes, I use search :-)

[2021-03-20 02:55] ymd-stella commented on #6
The build is currently failing. There are three reasons
- [x] fbow library file is not found in the second build.
- [ ] Unable to build fbow with -DCMAKE_BUILD_TYPE=None
- [ ] Unable to build fbow with aarch64

Items that have been fixed are checked.

[2021-03-20 04:42] ymd-stella commented on #6
build.ros2.org builds with -DCMAKE_BUILD_TYPE=None, which causes performance problems. There are three approaches to solve this problem. Which is best?

- Add optimization options when `-DCMAKE_BUILD_TYPE=None` is specified.
- Specify `-DCMAKE_BUILD_TYPE=Release`.
- Overwrite CMAKE_BUILD_TYPE with Release if `-DCMAKE_BUILD_TYPE=None`.

[2021-03-20 05:31] ymd-stella commented on #6
I took the first approach.

The performance appears to be worse in the release build, and I' m investigating the cause.

[2021-03-21 00:27] ymd-stella commented on #6
It was caused by `-ffast-math`.

[2021-03-22 18:39] SteveMacenski commented on #6
The build farm should be using Release builds when none is specifically specified or overrided

[2021-03-23 15:25] ymd-stella commented on #6
There are four different build logs, but I don't know what each one does.
- Fdev__openvslam__ubuntu_focal_amd64
- Fsrc_uF__openvslam__ubuntu_focal__source
- Fbin_uF64__openvslam__ubuntu_focal_amd64__binary
- Fbin_ubv8_uFv8__openvslam__ubuntu_focal_arm64__binary

The following log was included, so it seems that the build type is set to `None` in `Fbin*`.

[code]

[2021-03-23 17:01] SteveMacenski commented on #6
dev is the master branch of your repo, source is the source build of the code for packaging, and the bin builds are the binary builds for deployment to `apt`

[2021-03-30 20:29] oscarpang opened #63 "Timeline for IMU"
Thanks to all who contributed to this project. Also thanks for the community fork.

Is there a timeline for integrating the IMU functionality? Or a WIP branch? There are a number of cameras now equipped with the IMU(intel RealSense, StereoLab's Zed).

Much thanks
Weiwu

[2021-04-03 10:58] ymd-stella commented on #63
https://github.com/OpenVSLAM-Community/openvslam/tree/feat/imu

[2021-04-03 15:37] ymd-stella commented on #63
My working branch is https://github.com/ymd-stella/openvslam-community/tree/wip/imu.
Contributions and comments are welcome.

[2021-04-03 15:39] ymd-stella commented on #63
@oscarpang Did you get the information you needed?

[2021-04-05 04:36] oscarpang commented on #63
Yes. Thanks so much!

[2021-04-05 04:36] #63 closed

[2021-04-06 06:30] oscarpang commented on #63
@ymd-stella do you have a pointer to how to specify the transform from IMU to camera? Also, to specify the frequency of the IMU?

[2021-04-06 06:46] oscarpang commented on #63
I actually found the example. Thanks again.

[2021-04-15 08:04] surfii3z opened #68 "Documentation needs to be updated"
Hi, thanks for maintaining the openVSLAM.

1) Build instruction doesn't build executable

I try to fresh install using the OpenVSLAM-Community documentation on [Installation section](https://openvslam-community.readthedocs.io/en/latest/installation.html#build-instructions), however, I found that it does not build the executable like `run_video_slam`, etc. This makes it hard to simply follow the [t

[2021-04-15 10:10] ymd-stella commented on #68
You need to run `sudo make install` after `make -j4`.

[2021-04-15 10:13] ymd-stella commented on #68
The corresponding file is located at https://github.com/OpenVSLAM-Community/openvslam/blob/main/docs/installation.rst.

[2021-04-15 10:14] ymd-stella commented on #68
@surfii3z Do you plan to fix it?

[2021-04-15 10:57] surfii3z commented on #68
@ymd-stella Thanks for your reply.

Yeah, sure I could do that.

But actually I kind of don't like the idea of installing openvslam lib though.

Couldn't we make it self-contain?

[2021-04-15 11:29] surfii3z commented on #68
For the note, after doing this, it still has the this error

[code]

[2021-04-16 02:46] ThomasHauth commented on #19
Hi @ymd-stella,
can I help to set this up?
Cheers,
Thomas

[2021-04-16 10:46] ymd-stella commented on #19
Thank you for your help.
I think https://github.com/OpenVSLAM-Community/openvslam/blob/main/.travis.yml is a good reference for CI for macOS.

- https://circleci.com/docs/2.0/hello-world-macos/
- https://circleci.com/docs/2.0/hello-world-windows/

[2021-04-16 11:37] ymd-stella commented on #68
`-DINSTALL_PANGOLIN_VIEWER=ON` is required.
https://github.com/OpenVSLAM-Community/openvslam/blob/7392f6f144e52e829ba22167dce119d3b7b01466/src/pangolin_viewer/CMakeLists.txt#L31

[2021-04-16 11:39] ymd-stella commented on #68
Build openvslam with the following command.

[code]

[2021-04-16 12:03] surfii3z commented on #68
@ymd-stella  thanks for your reply.

[code]

It solved the Pangolin viewver issue. But it came to this error instead.

[2021-04-16 12:14] ThomasHauth commented on #19
Is there a reason to not use TravisCI any more ?

[2021-04-16 12:14] ThomasHauth commented on #19
Is there a reason to not use TravisCI any more ?

[2021-04-16 17:04] ymd-stella commented on #19
There was a problem with the build taking a very long time. If you can solve this, we can use TravisCI.

https://travis-ci.org/github/OpenVSLAM-Community/openvslam/builds/756913945

CircleCI or GitHub Actions may be a good alternative.

[2021-04-16 17:49] ymd-stella commented on #68
I've fixed it.
Please update openvslam_ros.

[2021-04-16 18:08] ymd-stella commented on #19
After additional research, I found that we may need to support newer versions of Mac OS.

[2021-04-17 04:21] surfii3z commented on #68
Thanks @ymd-stella. Editting the CMakeList.txt fixed the issue.

[2021-04-17 04:22] #68 closed

[2021-04-17 12:50] ymd-stella commented on #19
I've tried GitHub Actions and it seems to be working well.
It took 7 minutes to complete the installation of dependent packages without cache.
@ThomasHauth If you can help, please use GitHub Actions.

[2021-04-28 09:40] KelvinCPChiu opened #76 "Failed to load ORB Vocabulary in Docker"
I have successfully compiled the Openvslam in Ubuner 18.04 docker with the instruction in the link,
https://openvslam-community.readthedocs.io/en/latest/docker.html#building-docker-images

After compilation, the following error message was given when I was trying to run the samples in the following link,
https://openvslam-community.readthedocs.io/en/latest/simple_tutorial.html#chapter-simple-tutor

[2021-04-28 13:48] ymd-stella commented on #76
See https://github.com/OpenVSLAM-Community/openvslam/discussions/75. Documentation will be updated soon.

[2021-04-28 13:57] KelvinCPChiu commented on #76
Thanks @ymd-stella. I was confused how to convert the FBow from DBoW2 for a while even I found that conversion code was provided in FBoW.

[2021-04-28 13:58] KelvinCPChiu commented on #76
Thanks @ymd-stella. I was confused how to convert the FBoW from DBoW2 for a while even I found that conversion code was provided in FBoW.

[2021-04-28 13:58] #76 closed

[2021-05-07 03:37] ymd-stella opened #81 "Add a description of focal_x_baseline for RGBD cameras"
It is related to the following:

- https://github.com/xdspacelab/openvslam/pull/339
- https://spectrum.chat/openvslam/general/what-does-it-mean-by-right-img-depth-in-rgb-d-version~ad2af8ce-b301-4fd6-aa79-8a3791fd62a3

[2021-05-07 05:09] ymd-stella opened #82 "Refactoring about config"
It is related to xdspacelab/openvslam#295.

- [x] Remove the dot-separated parameter names and use the yaml syntax (https://github.com/OpenVSLAM-Community/openvslam/pull/83)
- [x] Each module reads the parameters of its own area of responsibility
- [x] Update configs in datasets

[2021-05-08 03:07] #82 closed

[2021-05-08 11:03] ymd-stella opened #87 "Add documentation for parameters"
Draft is https://openvslam-community.readthedocs.io/en/latest/parameters.html

- [x] Camera
- [x] Feature
- [x] Mapping
- [x] Others
- [x] StereoRectifier
- [x] Initializer
- [x] PangolinViewer

[2021-05-10 10:02] hitdshu commented on #87
Great job. Thanks for your excellent work in maintaining the community project.

[2021-05-15 05:16] #87 closed

[2021-05-15 09:06] #81 closed

[2021-05-17 21:50] junzhang3141 commented on #37
@mirellameelo did you guys create a slack channel for this project? I am willing to help

[2021-05-17 21:55] mirellameelo commented on #37
@junzhang3141 Nice!
It is not Openvslam's slack group, but Nav2's, where there is a channel regarding the SLAM. Try to get in with [this link](https://discourse.ros.org/t/new-navigation-slack/13845), please.

[2021-05-18 00:21] ymd-stella commented on #37
The Openvslam's community is https://github.com/OpenVSLAM-Community/openvslam/discussions. I do not recommend discussion in closed community such as Nav2 slack.

[2021-05-18 15:31] mirellameelo commented on #37
@ymd-stella I agree although I believe a Slack group could accelerate some discussions and it also brings many other advantages. Anyway, this is just another way to work on this. Particularly, I don't see a big deal in "closed discussion", sometimes it's just maturing some idea before bringing it in here... etc.... :)

[2021-05-22 14:37] sumitsarkar1 opened #104 "What is the convention used in the code for cam_pose_cw/cam_pose_wc"
Just curious to know whats the convention : cam_pose_cw means pose of the Camera w.rt. .to World coordinate system or vice versa

[2021-05-22 14:40] ymd-stella commented on #104
Please use the Q&A in the Discussion.

[2021-05-22 14:40] #104 closed

[2021-05-27 14:03] manosmaroulis opened #106 "free() invalid pointer"
Hello i tried openvslam with RICOH theta V, but for some reason i have a memory problem. I use rpi4 b 2GB RAM,
Below i show the configuration on the terminal. I am tryin the monocular example, i haven't changed anything in the code.
![problem](https://user-images.githubusercontent.com/68281160/119840017-494a0580-bf0d-11eb-95b6-7eb7fbfa144e.png)

[2021-05-27 16:11] ymd-stella commented on #106
You say you have not changed the code, but there are multiple examples. Which one is it?

We may get some hints by building openvslam with `-DUSE_STACK_TRACE_LOGGER=ON`.

It is recommended to experiment with open datasets at first. openvslam has not been tested with rpi4b.
ref. https://openvslam-community.readthedocs.io/en/latest/simple_tutorial.html#sample-datasets
The basic method in science and

[2021-05-27 16:20] manosmaroulis commented on #106
Thanks for the reply, i ran the run_camera_slam with monocular camera RICOH THETA V, i will try the open datasets and give more feedback. Thank you again.

[2021-05-28 13:29] ymd-stella opened #107 "Inconsistent parameter formatting in the configuration file"
https://github.com/OpenVSLAM-Community/openvslam/blob/35c12309739f5bd39851be06253af98e36359d20/example/euroc/EuRoC_stereo.yaml#L70

should be

[code]

[2021-05-29 00:17] ymd-stella opened #108 "Limitations of relocalization"
The conditions for successful relocalization are difficult for non-specialists to understand. In this issue, we will consider adding documentation, logs, and visualization.
Close camera position and camera angle are relatively easy conditions to understand. This is essentially the presence of enough landmarks that can be matched with the features of the frame. In Equirectangular, the relocalizatio

[2021-05-31 09:30] zengletian1491 opened #109 "cmake errors when using Ubuntu 16.04"
**I compile openvslam as the installation instructions on https://openvslam-community.readthedocs.io/en/latest/installation.html.

**The instructions in CMakeLists.txt in openvslam/test**
download_project(PROJ googletest
                 URL https://github.com/google/googletest/archive/release-1.10.0.tar.gz
                 URL_HASH SHA1=9c89be7df9c5e8cb0bc20b3c4b39bf7e82686770
                 DO

[2021-05-31 23:04] ymd-stella commented on #109
Ask at https://github.com/OpenVSLAM-Community/openvslam/discussions.

[2021-05-31 23:04] #109 closed

[2021-06-02 01:40] bot-lin opened #112 "Running example with simple tutorial failed"
Hi, I followed the installation instruction in the tutorial document and everything during the installation seems fine. But when I run the example in simple tutorial section, an error occured as following:
`zl@zl-desktop:~/openvslam/build$ ./run_video_slam -v orb_vocab.fbow -m aist_living_lab_1/video.mp4 -c aist_living_lab_1/config.yaml
[2021-06-02 09:30:06.105] [I] config file loaded: aist_living

[2021-06-02 14:54] #112 closed

[2021-06-25 06:10] rebellojason7 opened #128 "Localize with different camera"
Hi,

I built a map using a stereo camera where the image size was 1280 by 1024 and I am trying to localize a different camera in the map with image size 1344 by 720. However I can't seem to localize the new camera. I have calibrated the new camera and fed in the right parameters. I looked at this issue https://github.com/xdspacelab/openvslam/issues/388. but cant seem to get my data to work. Any th

[2021-06-25 16:45] #128 closed

[2021-07-01 12:48] TheBricktop commented on #37
I know that re-licensing is out of question now but why wouldn't anyone think of LGPLv3 ? As I understand it allows to dynamically link the compiled library and use its underlying functions without compromising whole rest of the application (like for example some of commercial apps) and protect the foss code.

[2021-07-07 17:47] Gilaine commented on #68
Hello @ymd-stella,

After I made catkin_make and it finished successfully, I tried the following command but I gives me that error :

rosrun openvslam_ros run_localization     -v /path/to/orb_vocab.fbow     -c /path/to/config.yaml     --map-db /path/to/map.msg

/devel/lib/openvslam_ros/run_localization: error while loading shared libraries: libfbow.so.0.0: cannot open shared object file: No such f

[2021-07-07 19:20] ymd-stella commented on #68
@Gilaine Please ask in [Discussions](https://github.com/OpenVSLAM-Community/openvslam/discussions).

Additionally, there is not enough information for me to answer. At least about the OS and the build procedure you performed is needed.

[2021-07-07 19:24] Gilaine commented on #68
Thank you so much @ymd-stella

[2021-07-11 14:22] #107 closed

[2021-07-27 16:23] poudyalbot opened #135 "Visual inertial"
Dear sir/mam,
Im beginner in slam algorithm and the concept is new to me ,currently learning about visual inertial slam could you please provide some detail on how you integrated imu with openvslam. We are witnessing commercialization of slam in lot of ar products like magic leap, hololens, Arcore and arkit what do you think are the missing elements in opensource vio or visual inertial slam algori

[2021-07-27 23:47] #135 closed

[2021-07-29 20:57] Edwin-Til-Illan opened #137 "installation failed at last command make -j4"
Hi, I followed all of the OpenVSlam installation instructions and got a fatal error while running the `make -j4` command:
[code]

The previous command was:
[code]

And I got:
[code]
Any idea why I got this error ?

[2021-07-30 00:18] #137 closed

[2021-08-03 14:57] jeffin07 commented on #3
Hi,
I would like to work on this.I  am  currently exploring openvslam using docker can you please guide me to work on this issue

[2021-08-03 23:47] ymd-stella commented on #3
@jeffin07 I just checked, and there were only two left. I've added a link to the commit in the description, so please refer to it. The minimum you need to do is to apply these commits. It is also better if you can understand the cause of the problem and fix the areas where similar problems occur.

[2021-08-06 15:18] #3 closed

[2021-08-06 15:26] jeffin07 commented on #108
@ymd-stella Hi can i work on this issue?currently I'm exploring slam so contributing will  help me to understand.I see documentation and other task which will be good for a beginner that's why i asked

[2021-08-06 20:30] ymd-stella opened #140 "Visualize keyframe candidates"

[2021-08-06 20:40] ymd-stella opened #141 "Add debug level log to relocalizer.cc"
Display the following as a debug level log

1. Number of candidate keyframes
2. ID of the rejected keyframe candidate and the reason why it was rejected

For more information on how to output logs, please refer to the following:
https://github.com/OpenVSLAM-Community/openvslam/blob/main/src/openvslam/module/frame_tracker.cc#L102

[2021-08-06 20:40] ymd-stella opened #142 "Describes the rough flow of the relocalization process"

[2021-08-06 20:40] ymd-stella opened #143 "Describes how relocalization can fail if the angle from the candidate keyframe is too large"

[2021-08-06 20:50] ymd-stella commented on #108
We have divided the task into multiple issues. If you have any questions, please ask them in each issue.

If you have never run relocalization before, I suggest you try it. For example, if you run localization on a map created by running slam, relocalization will be performed during initialization. See https://openvslam-community.readthedocs.io/en/latest/simple_tutorial.html.

[2021-08-15 14:49] jeffin07 commented on #142
@ymd-stella  does  the rough workflow documentation follows the format of the docs folder (.rst format) ?

[2021-08-16 13:33] ymd-stella commented on #142
For example, it is something like the following:

https://github.com/OpenVSLAM-Community/openvslam/blob/c5818b5fdeecf7cb4ae11d0589660862d5c570ef/src/openvslam/module/relocalizer.cc#L63

https://github.com/OpenVSLAM-Community/openvslam/blob/c5818b5fdeecf7cb4ae11d0589660862d5c570ef/src/openvslam/module/relocalizer.cc#L73

https://github.com/OpenVSLAM-Community/openvslam/blob/c5818b5fdeecf7cb4ae11d05

[2021-08-16 13:34] ymd-stella commented on #142
Yes.

[2021-08-23 00:41] ymd-stella opened #149 "-DINSTALL_SOCKET_PUBLISHER is missing in installation.rst"
`-DINSTALL_SOCKET_PUBLISHER` is required to install openvslam_ros.

[2021-08-23 12:49] #149 closed

[2021-08-24 15:09] jeffin07 commented on #141
@ymd-stella I would like to work on this issue can you please guide me ?

[2021-08-24 22:46] ymd-stella commented on #141
@jeffin07 Description has been updated.

[2021-08-30 14:54] jeffin07 commented on #142
@ymd-stella  Can we close this issue or is there any more additions  ?

[2021-08-30 14:55] jeffin07 commented on #143
@ymd-stella  Can you please explain this issue,I would like to work on it

[2021-08-30 23:28] ymd-stella commented on #143
@jeffin07 Updated the Description.

[2021-08-30 23:29] ymd-stella commented on #142
No.

[2021-08-30 23:29] #142 closed

[2021-08-31 14:21] jeffin07 commented on #143
@ymd-stella Thank you for the description.How are you going to expect the illustrations?. It would be helpful if  can you please give me any sample of similar  ones

[2021-08-31 15:54] ymd-stella commented on #143
Although there is no specific example, I think it would be easier for the reader to understand if you show a illustration that is similar to the actual drawing result of Pangolin Viewer or Socket Viewer.

[2021-09-03 10:57] ymd-stella opened #155 "Add parameter to set loop_detector::loop_detector_is_enabled_"
- [x] Add parameter enabled to https://github.com/OpenVSLAM-Community/openvslam/blob/main/src/openvslam/module/loop_detector.cc#L18
- [x] Add description of LoopDetector::enabled to https://github.com/OpenVSLAM-Community/openvslam/blob/main/docs/parameters.rst

[2021-09-05 15:31] jeffin07 commented on #140
@ymd-stella  Can yo please explain this issue ?

[2021-09-05 15:51] #141 closed

[2021-09-05 16:02] ymd-stella commented on #140
@jeffin07 Description has been updated.

[2021-09-13 14:43] jeffin07 commented on #140
@ymd-stella Is the change is to be done to the addKeyFrame() function in  `CameraFrame.js`

[2021-09-13 23:34] ymd-stella commented on #140
It is preferable to create a function similar to colorizeReferencePoints.

[2021-09-17 21:30] MitchAllain opened #159 "Failed to find CXSparse"
OS: Ubuntu 18.04
branch: `main` (6ce268c)

Following the installation instructions in the docs, after installing all deps, and running `cmake ..` for openvslam, I saw the error

[code]

It appears that the debian for suitesparse installed by `sudo apt install libsuitesparse-dev` installs the `cs.h` header in `/usr/include/suitesparse/cs.h` rather than one of the `CXSPARSE_CHECK_INCLUDE_DIRS` liste

[2021-09-17 22:27] ymd-stella commented on #159
CXSparse is not SuiteSparse. Does your log look like the following?

[code]

[2021-09-17 23:39] #155 closed

[2021-09-17 23:53] MitchAllain commented on #159
CXSparse is included in [suitesparse](https://github.com/DrTimothyAldenDavis/SuiteSparse), as is the missing header. Or is it meant to be installed separately? Below is my output.

[code]

[2021-09-18 12:29] takerfume opened #162 "error occurred when running video slam on server."
I excuted this shell script on the server (VM instance on Compute Engine. Ubuntu 18.04.).
I make environment for socket viewer.
I got an error. How can I fix it?

script I executed.
[code]

This is the log.
[code]

This is the docker file I built.
[code]

I run container image by this command.
[code]

[2021-09-18 12:44] #162 closed

[2021-09-19 17:57] #159 closed

[2021-10-03 13:38] fangxu622 opened #171 "landmark and camera poses didn't have same coordinate?"
when I visualize the landmark( extract from msg file) and camera pose, they didn't in the same coordinate.  how to made them in one coordinate ?

 aist_living_lab1 example data

![image](https://user-images.githubusercontent.com/16681534/135756024-ea000788-b762-471f-8410-af86b1b6289a.png)

[2021-10-03 22:21] ymd-stella commented on #171
See https://github.com/OpenVSLAM-Community/openvslam/discussions/105

[2021-10-03 22:21] #171 closed

[2021-10-13 04:27] bot-lin commented on #112
The format of the configuration file was incorrect

[2021-11-05 07:36] aravindSolteq opened #183 "ORB SLAM Version"
Hi the framework input is orb_vocab.fbow, Which algorithm version does this follow , ORB SLAM2 or ORB SLAM3?

[2021-11-05 10:06] #183 closed

[2021-11-10 07:03] junekhan opened #185 "Q: is it thread safe to perform relocalization on a given OpenVSLAM instance?"

[2021-11-10 10:37] #185 closed

[2021-11-18 20:19] abylikhsanov opened #197 "use_robust_matcher_for_relocalization_request"
Hi,

I have noticed your recent commit where you have included a new parameter:
`use_robust_matcher_for_relocalization_request`

Is there any documentation describing what does this parameter really do?

[2021-11-19 00:57] ymd-stella commented on #197
Description is https://openvslam-community.readthedocs.io/en/latest/parameters.html#tracking.

Do you need more information than this?

[2021-11-19 00:57] #197 closed

[2021-11-19 09:30] stevemartinov opened #200 "Potential bug in pose estimation"
https://user-images.githubusercontent.com/48247987/142599332-2681b3c1-8092-449e-b537-b0cd2d1f3ab4.mp4

Hi,

I think there is a potential bug in pose estimation. I am using the latest master openvslam (downloaded and compiled yesterday) and when performing either SLAM or localization, the angle estimation jumps occasionally as you can see from the video.

The pose estimation comes directly from the

[2021-11-19 09:33] #200 closed

[2021-11-19 10:16] stevemartinov commented on #200
I apologize, I realised the mistake right after writing this issue. For anyone who will see this, it was not a potential bug in OpenvSLAM but rather the ROS TF which you won't probably see

[2021-11-22 13:31] stevemartinov opened #201 "OpenvSLAM crashses when no data is available"
Hi,

I was testing the robustness of OpenVSLAM and covered camera with tape to make it lose the track and then evaluate its relocalization capabilities.

When I did that, program crashed with error:

[code]

May be it needs to be wrapped into a confition so it does not crash but just continues its operation until it gets proper data to extract keypoints?

[2021-11-22 15:56] ymd-stella commented on #201
I think FBoW is behaving unnaturally; I will forward the issue to the FBoW repository.

[2021-11-23 11:58] albertarla opened #203 "Stereo Rectifier for fisheye stereo camera"
Hi everyone, I'm currently working with the camera Realsense T265C. Is a Stereo camera with fisheye lenses. When calling `openvslam::util::stereo_rectifier`  I've notice that it is only working for perspective lenses although in the code there's already the option to [rectify fisheye images](https://github.com/OpenVSLAM-Community/openvslam/blob/7ae27bea658d763b4846aebba18e3524feec5287/src/openvsla

[2021-11-23 12:09] albertarla commented on #203
At this [branch](https://github.com/albertarla/openvslam/tree/stereo_rectifier_fisheye) from my fork I've modified it to work with stereo fisheye lenses. It is needed to add these parameters to the config file:
[code]
If there's no reason to not add fisheye lenses to the stereo_rectifier I will create a PR of this branch.

Thanks in advance

[2021-11-23 12:17] ymd-stella commented on #203
See https://github.com/OpenVSLAM-Community/openvslam/pull/164.

[2021-11-23 12:29] ymd-stella commented on #203
I've updated the documentation.
https://github.com/OpenVSLAM-Community/openvslam/commit/0ec0721a919176a3e43c702ded185881803911f5

[2021-11-23 12:30] #203 closed

[2021-11-23 12:34] ymd-stella commented on #140
The following PullRequest added the log, so just displaying the ID of the keyframe on the map may be useful.

- https://github.com/OpenVSLAM-Community/openvslam/pull/153
- https://github.com/OpenVSLAM-Community/openvslam/pull/194

[2021-11-26 03:00] Sang-Beom-Woo opened #204 "g2o error on adding "frame_publsiher.h" in custom executable"
Hello, I am making coustom ROS2 node in openvslam_ros package("openvslam_ros_mod.cpp  and hpp") to get the current frame image and send it as image topic. The problem occur when adding "openvlsam/publish/ frame_publisher.h" in to my wrapper code. The compliler outputs following error message when compiling the preprocessor;

In file included from /usr/local/include/g2o/core/base_fixed_sized_edge.h

[2021-11-26 05:40] #204 closed

[2021-11-28 06:10] #36 closed

[2021-12-03 23:26] ymd-stella opened #215 "Uses about 3x as much memory when saving maps"
The memory overhead of nlohmann/json is large.

ref. https://github.com/nlohmann/json/issues/1613

Consider a different storage format.

- [FlatBuffers](https://google.github.io/flatbuffers/)
- [SQLite](https://www.sqlite.org/index.html)

[2021-12-04 00:45] #4 closed

[2021-12-06 11:01] ThibaudM commented on #215
SQLite is really a good alternative. It is a little bit verbose but is very very fast (more than 3x) if you store the main data as blobs (descriptors, kps, map points...). _DB Browser for SQLite_ is a good tool to visualize data quickly.

Disclaimer: at Wemap, in our internal SLAM project we use SQLite to save / load / prepare and merge datasets.

[2021-12-08 08:24] slovak194 opened #217 "Add Multi-Camera support"
Hi!

I'm currently investigating the possibilities to introduce multi-camera (fisheye) support. Are there any plans or thoughts regarding how to do that?
Here are some thoughts:
1. Multi-image keyframes, camera rig, and feature matching across all cameras inspired by [MultiCol-SLAM](https://github.com/urbste/MultiCol-SLAM)
2. Stereo matching without rectification step inspired by fisheye stereo mo

[2021-12-08 13:05] dimaxano commented on #217
Hi!

I'm willing to help with that, but I am not familiar yet with multi camera slam approaches, need to study it deeply

Also, as one more source of inspiration, [that](http://rpg.ifi.uzh.ch/docs/ICRA20_Kuo.pdf) (PDF) ETH paper could be seen

[2021-12-08 14:08] slovak194 commented on #217
Hi, @dimaxano!

Yes, I've seen this article before. It sounds really great. But the reference implementation is missing and it may be too complex to target automatic/adaptive detection of available cameras.

But it definitely worse looking into.

[2021-12-16 00:02] ymd-stella opened #223 "Load second non-overlapping maps"
See https://github.com/OpenVSLAM-Community/openvslam/discussions/188.

[2021-12-16 15:20] MartiBolet commented on #223
Hi @AlbertArla and I will try to implement it. The plan we made is:
1. Create a function in 'system' which can load a new map to an existing 'map_db'.
  1.1 For value "cameras" the camera of the new map will be added to the existing.
  1.2 When trying to append the new 'keyframes' and 'landmarks', using 'keyframe_next_id' and 'landmark_next_id' of the existing map, shift the ids of the new map to

[2021-12-16 23:06] ymd-stella commented on #223
I don't expect to access information about keyframes and landmarks that are not connected by graphs from the reference keyframe, except during loop closing. If the relocalization is successful, the rest of the process will be almost the same as usual.

[2021-12-17 10:15] ymd-stella opened #224 "Add a mode to set the appropriate number of keypoints according to the resolution and camera model"
In my experience, if the horizontal resolution is 1k, 1200\~2000 points is enough. I think you need to increase the number of keypoints 2\~4 times for every 2x increase in horizontal resolution.

If the number of keypoints could be automatically determined according to the resolution, beginners would not have to worry about any parameters other than the camera model.
(Note: Some of the mapping and

[2021-12-21 08:22] slovak194 opened #232 "Accelerated ORB feature extraction for Nvidia Jetson. ARM neon or CUDA?"
Hi!

While the current implementation of the ORB extractor works very well on x86_64 many people use ARM for their robotics projects. Particularly, the well-known Nvidia Jetson platform is built on aarch64.

I see a few ways to improve performance on Jetson:
1. Use ARM neon instructions where possible instead of SSE/AVX
2. Use CUDA (works only for Jetson)

Both ways will require changes to the bui

[2021-12-21 08:48] slovak194 opened #233 "-DUSE_SSE_ORB=ON makes no sense in .github/workflows/main.yml as it is set to OFF in src/openvslam/CMakeLists.txt"
Hi, I've noticed that USE_SSE_ORB is not a Cmake option anymore as it is hardcoded to OFF in src/openvslam/CMakeLists.txt. I wonder if it is desired because it is [used as an option in CI](https://github.com/OpenVSLAM-Community/openvslam/blob/f42bfcfabbaf3e4fd0021ac3e283bb89a4312db9/.github/workflows/main.yml#L72).

Best regards,
Alex

[2021-12-21 09:30] #233 closed

[2021-12-23 02:17] ymd-stella opened #235 "IMU integration"

[2021-12-24 05:25] Sang-Beom-Woo opened #237 "Process died, occurred in commit f42bfcf"
Recently, I pulled the code with the latest version
(openvslam commit code: f42bfcfabbaf3e4fd0021ac3e283bb89a4312db9
 openvslam_ros commit code:  a1e575aa4b811639a545644b438f5bf83cd17684 )

The updated codes are compiled successfully and installed in the dynamic link library
When I run the executable run_slam in ROS2, it works fine temporarily. However, run time errors occur at any random time wit

[2021-12-24 09:29] ymd-stella commented on #237
What exceptions are being thrown?
In order to get information for debugging, I recommend to set `-DCMAKE_BUILD_TYPE=RelWithDebInfo` when executing cmake for building OpenVSLAM.

[2021-12-24 09:47] ymd-stella commented on #106
@manosmaroulis Any progress?

[2021-12-24 23:10] ymd-stella commented on #37
## references

- [web site and code](http://www.uco.es/investiga/grupos/ava/node/62)
- [paper](https://arxiv.org/abs/1902.03729)

Features that are not present in ORB_SLAM2, but only in OpenVSLAM and UcoSLAM, include the following

- Ability to save/load maps generated
  - I looked at the code and confirmed that it was in the original unstructured and simple storage format.
- parallelized KeyPoint

[2021-12-25 02:14] ymd-stella commented on #37
# ProSLAM

It was designed to be a simple, lightweight VisualSLAM. I haven't looked at all the functions, but they may have been influenced by the directory structure, module structure, and configuration.

## references

- [code](https://gitlab.com/srrg-software/srrg_proslam)
- [paper](https://arxiv.org/abs/1709.04377)

[2021-12-25 19:10] ymd-stella opened #239 "Clarify the functional correspondence between the ORB_SLAM2 code and OpenVSLAM code and evaluate the similarities"
Continued from https://github.com/OpenVSLAM-Community/openvslam/issues/37.

In summary, under efficiency constraints, if different expressions are considered, they should be removed and rewritten from scratch.

[2021-12-25 19:19] ymd-stella commented on #37
The discussion about the license here has been finalized, and the moral issues have been improved by updating the README. The rest of the investigation into code similarity will be done at https://github.com/OpenVSLAM-Community/openvslam/issues/239. If you find any problems with the distribution under the BSD license, please create another issue.

[2021-12-25 19:19] #37 closed

[2021-12-27 05:30] Sang-Beom-Woo commented on #237
The exceptions thrown by gdb was
[code]
additional information provided by gdb is shown as follows.
[code]
based on the gdb message on line #4  dynamic memory allocated by landmark has an invalid memory address. I carefully assume that the wrong number of observations counts. Are there any recent modification histories using the class `openvslam::data::landmark`?

[2021-12-27 06:52] ymd-stella commented on #237
@Sang-Beom-Woo
Which data set are you using?

I've only recently started using landmarks in shared_ptr. There may be some mistakes.

[2021-12-27 07:52] Sang-Beom-Woo commented on #237
I am currently using realsense D435i camera online by sending depth and color images via ROS2 topic. I am using it for large-scale environments and the mapping process usually takes 30min. The run time error appears around 10min after I run the code. I think the conventional offline dataset(approx. 5~7min) might finish the sequence before the run time error appears.

[2021-12-27 08:59] ymd-stella commented on #237
Did relocalization or loop closing occur?

[2021-12-27 10:48] Sang-Beom-Woo commented on #237
Yes. I've got multiple loop closures. Also, when the motion blur occurs because of the rough maneuver for while, it successfully relocalize camera motion afterward if there are recognizable features detected. Just before the run time error occurs, everything works ok.
I've downgraded my code, just for now, with commit no. b30a9ccf60aa2f4f57ae7e28b50ed3e81609a068. And it works without error so far.

[2021-12-27 11:55] ymd-stella commented on #237
It would be helpful if you could check if the same error occurs when the following parameters are set.

[code]

[2021-12-27 17:02] abylikhsanov commented on #237
Yes I had the same problem, it only occurs during the loop closures. I only get this crash on the first loop closure and it appears randomly, quite hard to catch. I am in debugging more but cannot see any exceptions risen

[2021-12-27 21:38] ymd-stella commented on #237
CI uses a dataset for testing loop closing. Do you get the same error with this?

https://github.com/OpenVSLAM-Community/openvslam/blob/577cb04d9245aa68b0905212293a802292d01787/.github/workflows/main.yml#L102-L118

[2021-12-27 21:49] ymd-stella commented on #237
What is your OS and g++ version?

[2021-12-28 01:07] Sang-Beom-Woo commented on #237
Test environment

[intel NUC core i7 10gen with 16GB RAM]
OS                   : Linux Mint 20.2
g++ version     : 9.3.0
ROS2 distro.   : foxy

[RYZEN 7 5800H with 32GB RAM]
OS                  : ubuntu 20.04 LTS
g++ version    : 9.3.0
ROS2 distro.  : foxy

[2021-12-28 01:58] Sang-Beom-Woo commented on #237
Suggested `openvslam_test_dataset` work fine in both of my environments. I ran the code in my dataset 3 times each. During 2 loop closures in the dataset, errors did not occur. I think this dataset does not have enough loop closures to observe the error. I will let you guys know about the following setting in my mapping site when I finish testing.
[code]

[2021-12-28 04:23] ymd-stella commented on #237
Isn't this a contradiction?

[2021-12-28 09:01] Sang-Beom-Woo commented on #237
I am not sure right now, because the run-time error in my computer behaved differently from what abylikhsanov(https://github.com/OpenVSLAM-Community/openvslam/issues/237#issuecomment-1001657187) described
The code ran in my environment closed loop several times until the software crashes.

To @abylikhsanov: Would you mind if I ask you about the description of the datasets tested and the software e

[2021-12-29 23:12] ymd-stella opened #242 "Marker integration"
## Is your feature request related to a problem?

The application of monocular Visual SLAM is limited because the scale is not known. Marker integration is an inexpensive solution to this problem without the need for additional cameras. This feature is inspired by [UcoSLAM](https://arxiv.org/abs/1902.03729).

In addition, by applying marker integration to an equirectangular model, robust Visual SL

[2022-01-05 06:52] jcyhcs opened #246 "how can use openvslam create dense map?"
hi,professor:
how can use openvslam to create dense map? like this:
![image](https://user-images.githubusercontent.com/34532224/148173204-9fa76b62-3393-402c-ae07-2961fd472d36.png)
please help, thanks!

[2022-01-08 14:25] jdtardos opened #249 "OpenVSLAM is derivative work of ORB-SLAM2 and must use GPLv3 license"
Dear OpenVSLAM community,

I am Prof. Juan D. Tardos, leader of the ORB-SLAM team at University of Zaragoza, Spain. As you know, ORB-SLAM, ORB-SLAM2 and ORB-SLAM3 have been licensed under GPLv3 for their free use in open-source projects. In parallel, our University, as owner of the software, is selling commercial licenses to companies all around the world that want to use our software in closed-so

[2022-01-08 17:06] ymd-stella commented on #249
Thank you for your comment.
I have understood your intentions. I have some questions about the conclusions.

It is a matter between ideas, and has nothing to do with licenses that protect expression. If necessary, it would be better to contact the original authors of OpenVSLAM.

Obviously, there is no need to make all of OpenVSLAM GPL, and it should only be necessary to address the derivative work

[2022-01-08 19:51] jdtardos commented on #249
That's why I separated it in two different points. This simply proofs unethical behavior in the OpenVSLAM paper and repository. They were copying our ideas and software and trying to hide it.

Sorry, the derivative part is most of the software, the interface is just one example, and the idiosyncratic sections and bugs are just evidence that we have collected for our legal team. Except for a few ad

[2022-01-09 00:57] ymd-stella commented on #249
First of all, it is important to note that ideas (algorithms and architectures, etc.) are not protected by the GPL. Are you sure you're not misunderstanding it?

In this view, most of the things quoted from ORB-SLAM2 are ideas, and only some expressions are stolen.

This is strictly a misunderstanding. Do you know about [Computer Associates International, Inc. v. Altai, Inc.](https://en.wikipedia.

[2022-01-09 01:39] ymd-stella commented on #249
An additional case: mimemagic has reverted from GPL to MIT by removing the GPL-violating parts.

https://github.com/jellybob/mimemagic/pull/3

[2022-01-09 01:49] ymd-stella commented on #249
Removed the code from the default branch and added a note in README.md that past openvslam must be used under GPLv3.

I am also working on the Unrelease process.
https://github.com/ros/rosdistro/pull/31716.

[2022-01-09 02:02] ymd-stella commented on #249
Once openvslam is GPLv3 and Unrelease is completed, can you publish the problematic part?

[2022-01-09 10:22] jdtardos commented on #249
Seriously?.  The intentions of us as ORB-SLAM2 authors are extremely clear:
- Give proper credit to all the intellectual contributions to our work. Please read our papers.
- Respect the license of all software we have used in ORB-SLAM2.
- Make our software free for open-source projects under GPLv3.
- Allow our University (by the way, a university paid by the taxpayers in Spain) to obtain economica

[2022-01-09 11:36] ymd-stella commented on #249
Have you seen https://github.com/OpenVSLAM-Community/openvslam/blob/in-discussion/README.md?

[2022-01-09 11:37] ymd-stella commented on #249
You are talking about the past, and I am talking about the future.

[2022-01-09 11:44] ymd-stella commented on #249
It appears to me that you are violating rights by bringing up other reasons. Shouldn't we only be talking about the rights protected by GPLv3 here? I think leaving this discussion as it is will be a large barrier to future OSS development of Visual SLAM.

[2022-01-09 11:54] ymd-stella commented on #249
I have already read it. I think the responsibility lies with the authors. I think you should contact the authors if necessary.

Currently, OpenVSLAM is published under GPLv3.

You should contact the authors as well. Not us.

[2022-01-09 12:42] ymd-stella commented on #249
If you refuse to provide information, I will republish OpenVSLAM under the BSD license after I have sufficiently removed the suspect code on my own.

[2022-01-09 15:32] ymd-stella commented on #239
# Frame - data::frame

## constructors

The natural order is from feature point extraction to stereo matching to grid assignment of feature points.
The suspects are as follows

- There is no inevitability in the initialization timing of landmarks and outlier flags. However, they are similar.

Overall, the similarities are negligible.

## AssignFeaturesToGrid in Frame - assign_keypoints_to_grid in

[2022-01-10 14:57] ymd-stella commented on #239
# KeyFrame - data::keyframe

## constructors

The similarities are negligible.

## ComputeBoW in KeyFrame - compute_bow in keyframe

It is unnatural to return without doing anything when bow_vec_ or bow_feat_vec_ is empty. However, they are similar. **It needs to be removed**.

## SetPose in KeyFrame - set_cam_pose in keyframe

There are similarities, but very simple and there is no other way to e

[2022-01-11 00:07] SteveMacenski commented on #249
The licenses are for the specific code produced, not the ideas that the code represents. No one has claimed that OpenVSLAM doesn't use some (many) of the same ideas as ORB-SLAM, but using the same concepts is not the same thing as the same literal lines of software. The OpenVSLAM paper openly cites ORB-SLAM3, among others, as direct sources of work it builds on. I don't see the issue.

[2022-01-16 12:04] ymd-stella commented on #239
# Map - data::map_database

## AddKeyFrame in Map - add_keyframe in map_database

The process using max_keyfrm_id_ is unnatural, and **it is better to remove the process using max_keyfrm_id_**.

## add/erase keyframe/landmark

- EraseKeyFrame in Map - erase_keyframe in map_database
- AddMapPoint in Map - add_landmark in map_database
- EraseMapPoint in Map - erase_landmark in map_database

It is si

[2022-01-16 13:08] ymd-stella commented on #239
# KeyFrameDatabase - data::bow_database

## add, erase in KeyFrameDatabase - add_keyframe, erase_keyframe in bow_database

It is similar, but very simple and there is no other way to express it.

## clear in KeyFrameDatabase - add_keyframe in bow_database

The similarities are negligible.

## search

- DetectLoopCandidates in KeyFrameDatabase - acquire_loop_candidates in bow_database
- DetectReloc

[2022-01-16 13:49] ymd-stella commented on #239
# Viewer, MapDrawer - pangolin_viewer::viewer

Overall, the similarities in code are negligible. However, I am concerned about the similarity in screen design. I am not sure if that is covered by GPLv3. The colors are just one of the customizable setting values, so I don't think there is a problem. It might be better to determine the default setting values specific to OpenVSLAM. The content displa

[2022-01-17 05:43] hitdshu commented on #249
Actually, in China, almost every robotics company uses ORB-SLAM, and I think only very few of them are paying for it.

But for OpenVSLAM, I don't think there is a problem in its paper. They've clearly cited ORB-SLAM and their contributions are clearly indicated.

[2022-01-18 00:34] ymd-stella commented on #239
# System - system, io::trajectory_io

## constructor

The similarities are negligible. The necessity of displaying the copyright is unclear. It may be enough to provide a function like show_copyright_notice. For example, it will show the notice when the --lisence command line option is given.

## Feed image

- TrackStereo in System - feed_stereo_frame in system
- TrackRGBD in System - feed_RGBD_fr

[2022-01-18 12:47] ymd-stella commented on #239
# Initializer - solve::fundamental_solver, solve::homography_solver, solve::essential_solver, initialize::*

## Initialize in Initializer - initialize in initialize::perspective

There are similarities, but it is due to the fact that they share the same algorithm.

## RANSAC

- FindHomography in Initializer - find_via_ransac in solve::homography_solver
- FindFundamental in Initializer - find_via_r

[2022-01-18 16:52] devrite commented on #249
The only way OpenVSLAM can be non-GPL is if any claim by Prof. Tardos and its group is not valid due to the reasons you identified:

* The way to implement it given all papers at the time could be considered common knowledge or the standard/naive taught way to do it (i.e. by following design rules/patterns, data norms like when designing via UML or ER diagrams, etc.).

Otherwise any code similarit

[2022-01-18 23:22] ymd-stella commented on #249
@devrite Thanks for your comments.

First of all, I accept the existence of plagiarized parts, but I deny the claim that all of OpenVSLAM can be considered plagiarized.

This is a misunderstanding. Do you know about [Computer Associates International, Inc. v. Altai, Inc.](https://en.wikipedia.org/wiki/Computer_Associates_International,_Inc._v._Altai,_Inc.)?
There is precedent for eliminating areas

[2022-01-19 05:41] devrite commented on #249
Sure, but even in the case you posted they were only allowed to remove it as it could be seen as a different separate entitity (CA Scheduler), and it was only US law that decided it. While they are in Spain and theory could sue anywhere.

While here this may be true for separte modules, libs or programa than can be extracted I doubt it would be true if these issues reside in the core part. For exa

[2022-01-19 08:37] devrite commented on #249
For me as bystander there is currently no real confidence whether it is BSD or GPL. As your view may not be shared by actual law experts or that your identified units of abstraction are not ones others would argue or if the number of affected parts or key core parts are insignificant. Also you would need to check the original code, which may have many more problematic code parts and were just refa

[2022-01-21 17:47] ymd-stella commented on #239
# Tracking - tracking_module, module::frame_tracker, module::keyframe_inserter, module::local_map_updater, module::relocalizer, module::initializer

## constructor

The similarities are negligible.

## setters

- SetLocalMapper in Tracking - set_mapping_module in tracking_module
- SetLoopClosing in Tracking - set_global_optimization_module in tracking_module
- SetViewer in Tracking - none

It is s

[2022-01-21 21:17] ymd-stella commented on #239
# LocalMapping - mapping_module, module::local_map_cleaner, module::two_view_triangulator

## setters

- SetLoopCloser in LocalMapping - set_tracking_module in mapping_module
- SetTracker in LocalMapping - set_global_optimization_module in mapping_module

It is similar, but very simple and there is no other way to express it.

## Run in LocalMapping - run, mapping_with_new_keyframe in mapping_modu

[2022-01-22 00:34] ymd-stella commented on #239
# LoopClosing - global_optimization_module, module::loop_bundle_adjuster, module::loop_detector

## setters

- SetTracker in LoopClosing - set_tracking_module in global_optimization_module
- SetLocalMapper in LoopClosing - set_mapping_module in global_optimization_module

It is similar, but very simple and there is no other way to express it.

## Run in LoopClosing - run in global_optimization_mod

[2022-01-22 06:02] ymd-stella commented on #239
# Optimizer - optimize::*

## GlobalBundleAdjustemnt, BundleAdjustment in Optimizer - optimize in optimize::global_bundle_adjuster

The only unnatural similarity is the member variables used as temporary variables mentioned above.

I think `x_right < 0` is correct for the following conditions. Even if you are using a stereo camera, it will be `x_right < 0` in the point where the matching fails. Th

[2022-01-22 19:19] ymd-stella commented on #239
# ORBextractor - feature::\*

## IC_Angle in ORBextractor - ic_angle in feature::orb_extractor

It is derived from opencv; it is unclear which opencv ORB-SLAM2 and OpenVSLAM are based on for their implementations, but I think it is incorrect that there is no indication of the BSD license, since the expression is almost unchanged. **The license notation needs to be added.**

## constructor

Initial

[2022-01-23 00:00] AlejandroSilvestri commented on #249
Hi all,
I want to share my opinion and some objective observations to enrich this very important debate, and as far as possible bring positions closer together to reach an agreement. That is why I want to start by exploring the zone of possible agreement by interpreting each one’s interests.  Without the intention of taking part, we agree we can have different opinions, and if I am wrong about som

[2022-01-23 01:07] ymd-stella commented on #239
The following points were made by AlejandroSilvestri (https://github.com/OpenVSLAM-Community/openvslam/issues/249#issuecomment-1019379866)

- The first obvious step in the process is to extract ORB descriptors from the image. Both ORB-SLAM2 and OpenVSLAM walk the same strange path before doing so (under different names):
  - SLAM.feed_monocular_frame(im)
  - tracker_->track_monocular_image(im)
  -

[2022-01-23 04:49] ymd-stella commented on #239
# ORBmatcher - match::*

## projection

- SearchByProjection(Frame, MapPoints) in ORBmatcher - match_frame_and_landmarks in match::projection
- SearchByProjection(KeyFrame, Sim3, MapPoints) in ORBmatcher - match_by_Sim3_transform in match::projection
- SearchByProjection(Frame1, Frame2) in ORBmatcher - match_current_and_last_frames in match::projection
- SearchByProjection(Frame, Keyframe) in ORBm

[2022-01-23 05:30] ymd-stella commented on #239
# PnPsolver - solve::pnp_solver

I'll skip the EPnP part; I compared it to https://github.com/cvlab-epfl/EPnP. It looked like it was created from scratch.

## constructor and SetRansacParameters

The similarities are negligible.

## iterate in PnPsolver - find_via_ransac in solve::pnp_solver

There are a bit of similarities, but it is due to the fact that they share the same algorithm.

[2022-01-23 05:51] ymd-stella commented on #239
# Sim3Solver - solve::sim3_solver

## constructor and SetRansacParameters

It calls the following.

- FromCameraToImage in Sim3Solver - reproject_to_other_image in solve::sim3_solver

There are similarities, but it is due to the fact that they share the same algorithm.

## iterate in Sim3Solver - find_via_ransac in solve::sim3_solver

There are a bit of similarities, but it is due to the fact that

[2022-01-23 07:09] devrite commented on #249
The problem is if your conclusion is really ght that it indicates to be derivative work and is to be considered so then the work in progress is also a modification and derived of Openvslam. Especially since you track all your changes. This way you can never do a clean room copy as you already mentioned dies not affect an exchangeable module.

Meaning if GPL is to be adopted and the project wants t

[2022-01-23 08:26] ymd-stella commented on #249
@devrite Your comment has many typos and does not convey the message, so it would be helpful if you could reread it carefully and correct it.

[2022-01-23 09:22] devrite commented on #249
Updated: Sorry sometimes auto-correct adds or drops stuff I did not notice.

[2022-01-23 13:02] ymd-stella commented on #249
Whether or not OpenVSLAM can be made non-GPL depends on whether you think GPL was mixed into OpenVSLAM under non-GPL, or whether you think OpenVSLAM was originally under GPL.  I am of the former opinion; devrite seems to be of the latter opinion.

To date, I have done comparisons of all ORB-SLAM2 code and corresponding similar OpenVSLAM code. It is my opinion that at least some of the code was cre

[2022-01-27 14:00] Valts-M opened #250 "CPU usage goes up to 100% if the viewer is removed when the slam is in localization mode"
Since for my purposes I won't be needing to be able to see what the slam is doing I tried to remove the viewer to save on processing time. I replaced the viewer.run() call with a simple std::cin.get() and a SLAM.request_terminate() right after it so that I can stop the process by imputing anything to the terminal. Everything else about the structure of the program stayed the same. The frames still

[2022-01-27 22:52] ymd-stella commented on #250
Do you set the option `--no-sleep`? With this option, no sleep is performed for tracking, which will result in high CPU usage.

[2022-01-28 06:07] Valts-M commented on #250
I tried both with and without no sleep. In either case the CPU usage jumped to 100%.

[2022-01-28 11:21] ymd-stella commented on #250
I was able to reduce the CPU usage by removing `--no-sleep` and specifying `--frame-skip 3`.

If you want to achieve optimal frame drop for realtime processing, I recommend using openvslam_ros.

[2022-01-28 11:24] ymd-stella commented on #250
In addition, if you want to disable the viewer, it is recommended to specify `-DUSE_PANGOLIN_VIEWER=OFF` as the build option.

[2022-01-28 11:24] #250 closed

[2022-01-29 23:14] ymd-stella commented on #249
Dear @jdtardos,
I have replaced the code that is suspected of violating the GPL. See https://github.com/OpenVSLAM-Community/openvslam/pull/252. If there are any remaining problems, please point them out.

[2022-02-06 04:54] ymd-stella commented on #249
Version 0.3.0 with the fixes applied will be released again under the BSD license. If there are any issues with the license, please point them out to me and I'll address them as soon as possible.

[2022-02-11 06:07] #239 closed

[2022-02-17 13:00] jamestkpoon commented on #237
I am also experiencing this issue when running from a [Dockerfile](https://github.com/OpenVSLAM-Community/openvslam_ros/blob/galactic-devel/Dockerfile) Stack trace is as follows:
[code]

My dataset is grayscale stereo from a ZED2  log from a robot driving around a loop once. The crash occurs at seemingly random moments during playback which I would not consider candidates for loop closure (given t

[2022-02-17 15:53] ymd-stella commented on #237
@jamestkpoon
What is the commit ID of the code you used?

[2022-02-17 15:59] jamestkpoon commented on #237
@ymd-stella was on "galactic-devel", but can confirm I get the same behavior with the latest commit on "ros2" fdbd287d80a3a5cc4ac1a143dc937adb4697b120

[2022-02-17 16:01] ymd-stella commented on #237
@jamestkpoon What is the commit ID of openvslam?

[2022-02-17 17:48] jamestkpoon commented on #237
@ymd-stella
958b144f2b1c54b1fa40e881fcc8dbd1f3bb9f3b

[2022-02-18 00:23] ymd-stella commented on #237
If the settings in https://github.com/OpenVSLAM-Community/openvslam/issues/237#issuecomment-1042925354 are applied correctly, the error will occur even if LoopClosing is disabled and Relocalization is disabled. I am also wondering if it occurs even if Viewer is disabled.
@jamestkpoon Could you please try https://github.com/OpenVSLAM-Community/openvslam_ros/blob/ros2/Dockerfile.cui?

[2022-02-18 10:33] jamestkpoon commented on #237
@ymd-stella Firstly thank you very much for your assistance with this issue, I really appreciate the effort.
With the log from the robot, the UI-less Dockerfile.cui also results in crashes. However this may actually be an issue with the log itself; throughout the log there is a large circular artifact from a poorly fitted visor which would likely derail performance e.g.:
![image](https://user-imag

[2022-02-18 22:40] ymd-stella commented on #237
I'm wondering if the error will occur if you don't use openvslam_ros, but use https://github.com/mlaiacker/rosbag2video to convert it to a video and enter it directly into [run_video_slam](https://openvslam-community.readthedocs.io/en/latest/simple_tutorial.html#tracking-and-mapping).

[2022-02-19 00:05] ymd-stella commented on #237
I have just reproduced it myself. The dataset is euroc/MH_01, and I used openvslam with PangolinViewer.

[2022-02-19 10:41] #237 closed

[2022-04-03 06:12] #215 closed

[2022-04-03 08:11] ymd-stella opened #270 "Save/Load orb_params_database"
## What issue is the feature request related to?

orb_params_database is not saved.
Parameters are loaded from yaml files.

## Describe the solution you'd like

Save/Load orb_params_database to/from sqlite3 database.

### How to achieve this

- [ ] Save orb_params_database to sqlite3 database.
- [ ] Load orb_params_database from sqlite3 database.

## Describe alternatives you've considered

It may

[2022-04-03 08:40] ymd-stella opened #271 "cv::KeyPoint may not be saving and loading as intended"
## Describe the bug

When saving maps to sqlite3, cv::KeyPoint may not be saving and loading as intended. The following warning has been issued.

[code]

## Environment

- CPU: Intel
- OS: Ubuntu18.04
- Commit id: 64f4f63b187a3f09927fe7510e4a461271e9d8c3
- Install procedure: docker

## Additional context

Related to https://github.com/stella-cv/stella_vslam/pull/269.

[2022-04-11 20:00] #2 closed

[2022-04-11 20:03] #106 closed

[2022-04-12 11:07] ymd-stella opened #279 "beginner Build problem"
### Discussed in https://github.com/stella-cv/stella_vslam/discussions/278

<div type='discussions-op-text'>

<sup>Originally posted by **DrorSegev** April 12, 2022</sup>
Hi,
When building stella_vslam I'm getting the following error:

home/dor/ddd/stella_vslam/src/stella_vslam/data/marker.cc:10:26: error: ‘mutex’ is not a member of ‘std’
   10 |     std::lock_guard<std::mutex> lock(mtx_position_)

[2022-04-13 13:31] #279 closed

[2022-04-19 09:52] DrorSegev opened #282 "Invalid setup type: Stereo"
When running any stereo configuration like:

./run_video_slam -v ./orb_vocab.fbow -m ./out.mp4 -c ../example/euroc/EuRoC_stereo.yaml --frame-skip 1  --auto-term --eval-log --map-db map3.msg --debug

I'm getting the error:
Error:
Invalid setup type: Stereo

Thanks
Drrror

[2022-04-19 11:26] #282 closed

[2022-04-19 11:27] ymd-stella commented on #282
Wrong file.
See https://github.com/stella-cv/stella_vslam/blob/main/example/euroc/EuRoC_stereo.yaml#L10.

[2022-04-22 12:17] mamo3gr commented on #242
I'm interested in scale-specified VSLAM and this feature. I have read https://github.com/stella-cv/stella_vslam/pull/241 and wonder how to employ the scale information, that is, the physical size of the ArUco marker. I think `marker_model::aruco::width_` would be used to determine the scale of the camera's trajectory (translation vector) or make some kind of constraints, but it seems not to appear

[2022-04-22 16:16] ymd-stella commented on #242
In the first attempt, distance constraints was added between the corners of the markers, but adding such constraints was computationally inefficient. So instead, the corners of the markers are now fixed. This determines the scale.
(When the coordinates of the reference keyframe change, the position of the marker should change, but it does not. This is a bug. I will fix it soon.)

1. Calculates the

[2022-04-23 07:30] mamo3gr commented on #242
Thank you very much for your rapid response and detailed description.

I understand that the scale information is employed as below:

* Assume the corners of the markers are in the marker coordinate, where the physical length of the markers is employed
  * I'm sorry to miss that the `marker_model::base` constructor employs a marker's `width`
* Transform the marker coordinate into the camera coordi

[2022-04-23 07:53] ymd-stella commented on #242
See https://github.com/stella-cv/stella_vslam/blob/f5cbbf55bccfdde63ddfa0d0243206ba7743ce6b/src/stella_vslam/module/initializer.cc#L267-L277

[2022-04-23 09:11] mamo3gr commented on #242
Thank you again and sorry for my laziness!

[2022-04-25 09:17] scimad opened #289 "In saved msgpack, rot_cw should be 3x3 but isn't."
## Describe the bug
While reading msgpack saved from videoslam example (video.mp4 from aist database), the msgpack containes rot_cw data incorrectly.

Here's my debug window.

![image](https://user-images.githubusercontent.com/11834788/165059023-698eeffe-986c-4489-93f4-283f8c9bcf78.png)

Am I missing something or is it a bug?

[2022-04-25 20:54] BioR0bot opened #291 "Create initial frame with gravity aligment from IMU"
It would be very convenient to create a top view map using gravity alignment.

[2022-04-25 22:00] #291 closed

[2022-04-25 22:16] ymd-stella commented on #291
It would not be difficult to implement it yourself; I think it is beyond the scope of the Visual SLAM library's main responsibilities. I do not plan to include post-processing of the completed maps in this repository.

[2022-04-25 22:21] ymd-stella commented on #291
It is important to note that simply aligning the first keyframe may result in other keyframes having different gravity directions due to errors.

[2022-04-25 22:36] ymd-stella commented on #291
Yes.

[2022-04-25 22:37] ymd-stella commented on #291
https://github.com/ymd-stella/openvslam-community/tree/wip/gba

[2022-05-05 10:31] kbergel opened #293 "stella_vslam is not deterministic"
The behaviour of stella_vslam is currently non-deterministic, even when setting the `use_fixed_seed` parameter is set to true. Whilst for many applications this may not be an issue, consistently reproducible results are important in some contexts, in addition to being helpful for testing.

I have identified three factors that contribute to the non-deterministic behaviour:
1. The `use_fixed_seed` p

[2022-05-05 16:42] #293 closed

[2022-05-10 10:29] ymd-stella opened #296 "Memory leak in SocketViewer"
## Describe the bug

When run_video_slam is run repeatedly, memory usage does not decrease when the map is reset on the second run.

## To Reproduce

[code]

## Environment

- OS: SocketViewer is running on Windows10
- Commit id: ab50a9026c9ac80ddd037ead0e1135b99b76d59f
- Install procedure: docker
- dataset: EuRoC MH_01

[2022-05-11 02:41] QMonteCarlo commented on #217
I'm currently working on this project as my personal project,porting from multicol-slam and openvslam.

[2022-05-11 09:40] BBin1103 opened #297 "High cpu usage in localization mode，which is three times cpu usage in slam mode."
Thank you for the clean code!

I noticed that cpu usage is abnormally high in localization mode and there are some other github issues report similar things.  After some tests, I found 2 ways to  reduce cpu usage to normal level, about 60% of cpu usage in slam mode.

1. Turn on mapping thread after relocalization success  for a few frames then pause mapping thread.
2. Compile g2o with -DG2O_USE_OP

[2022-05-11 10:01] ymd-stella commented on #217
MultiCol-SLAM is GPLv3. Therefore, if you ported their implementation, it cannot be merged into this repository. Please be careful.

[2022-05-11 10:10] ymd-stella commented on #297
ref.

- https://github.com/stella-cv/stella_vslam/discussions/73
- https://github.com/stella-cv/stella_vslam/issues/250

[2022-05-18 13:43] mitul93 opened #307 "Preprocessing::min_size does not have hard or soft upper limit on no of ORB Features to extract"
I saw in #299 that ORB extraction now uses resolution independent parameter (min_size).
During the test from v0.3.3, I noticed slow run-time.

I think that's because there is no upper bound of number of features to extract.
Can someone confirm this?

[2022-05-18 14:56] ymd-stella commented on #307
There is an upper limit to the number of feature points. The upper limit is the number of regions when the region division is repeated until the size reaches min_size.

[2022-05-18 14:57] ymd-stella commented on #307
I know that speeds may decrease under certain conditions. Please let us know your benchmarking conditions and results.

[2022-05-19 23:44] ymd-stella commented on #307
In fact, (if the appropriate value is set for min_size,) https://github.com/stella-cv/stella_vslam/pull/299 only changes the processing time for feature extraction by a few milliseconds, and the largest change in processing time is for pose optimization. For a fundamental solution, I think it is necessary to put an upper limit on the processing time for pose optimization.

[2022-05-20 14:29] BBin1103 commented on #271
A bug in map_database::register_keyframe, bearings.size() is the double of num_keypts. Possible repair methods are as follows.

from
[code]
to
[code]

[2022-05-20 15:04] ymd-stella commented on #271
@BBin1103 Thanks for the report, but please create another issue because it is irrelevant to this issue.

[2022-05-20 15:45] BBin1103 opened #308 "Bearings are not accurate in map loading."
A bug in map_database::register_keyframe, bearings.size() is the double of num_keypts. Possible repair methods are as follows.

from
[code]
to
[code]
or add bearings.clear() in function base::convert_keypoints_to_bearings().

map_database::load_keyframes_from_db(), same as above.

[2022-05-20 15:51] BBin1103 commented on #271
ok, [#308](https://github.com/stella-cv/stella_vslam/issues/308)

[2022-05-20 23:49] #308 closed

[2022-05-21 00:15] #307 closed

[2022-05-21 00:23] ymd-stella commented on #224
Resolved by #299

[2022-05-21 00:23] #224 closed

[2022-05-29 01:43] ymd-stella commented on #242
Reverted due to incorrect update method; multiple updates were made to a marker. Additionally, if the marker is fixed, there is no need to update the position after optimization. During loop closing, the marker position needs to be updated.

[2022-05-30 08:19] zovelsanj opened #314 "Blank Screen in Pangolin Viewer"
## Problem Encountered
When trying to visualize the equirectangular dataset output, Pangolin Viewer (in both Frame Viewer and Map Viewer) is blank. I followed exactly the same steps for [installation](https://stella-cv.readthedocs.io/en/latest/installation.html) and [visualization](https://stella-cv.readthedocs.io/en/latest/simple_tutorial.html) as described in stella_vslam documentation. Building

[2022-05-30 11:17] ymd-stella commented on #314
Try

[code]

[2022-05-30 19:06] an99990 opened #315 "How to debug this project ?"

[2022-05-30 22:58] #315 closed, assigned to nobody

[2022-06-01 16:28] an99990 opened #317 "what is inside ORB vocabulary file ?"

[2022-06-03 00:30] ymd-stella commented on #297
Closing as there seems to be no additional information. If you find out anything, please create another issue.

[2022-06-03 00:43] ymd-stella commented on #314
The visualizer in the attached image appears to be normal. It seems to be loading an invalid map and doing localization.

[2022-06-03 00:43] #314 closed

[2022-06-03 00:45] ymd-stella commented on #314
@zovelsanj If you still have questions, please ask them in discussions.

[2022-06-08 10:23] ali-sx opened #321 "Documenting conventions"
I've been using openvslam/stella_vslam for some time and I find it really difficult to find info about the conventions used (what is the ordering of the bearing vectors ? how is the axes oriented ? etc.).

Is there a place where all these informations are centralized ?

If not, I think it could really help new contributors and speed up their onboarding. Maybe by using a wiki that everyone can upda

[2022-06-13 12:04] McC0dy opened #322 "Expose 'tracking_module.cc::feed_frame()'-parameter 'init_retry_thr' to 'conf'-class"
## What issue is the feature request related to?

The system resets if it looses tracking shortly after initialization - this is reasonable behavior.
However, currently the threshold is hard-coded to 5 sec but this value does not fit all applications (mine included),

## Describe the solution you'd like

Expose `init_retry_thr` from `tracking_module::feed_frame()`.

### How to achieve this

(Inclu

[2022-06-13 23:57] ymd-stella commented on #322
Not required.

See
https://github.com/stella-cv/stella_vslam/blob/3f4b160e4eb065cf9a800160e9b38887658cd58f/src/stella_vslam/tracking_module.h#L114-L122

Set the default value to 5.0.

See https://github.com/stella-cv/stella_vslam/blob/3f4b160e4eb065cf9a800160e9b38887658cd58f/src/stella_vslam/tracking_module.cc#L24-L27

See
https://github.com/stella-cv/docs/blob/9cb9458c9ea9e49d8feaa71c278f9872f76a

[2022-06-14 07:10] McC0dy commented on #322
@ymd-stella I've included your feedback in the original description. Thank you.
Did I understand correctly that it's not needed to add `init_retry_thr: 5.0` to the example yaml's?

[2022-06-22 17:06] s-mostafa-a opened #323 "General question - Generating different results on the same dataset"
Hi everyone,
Thank you for your great effort in developing this repository. I was tracking the development since it was the community version of openvslam.
I have a general question about this specific SLAM since I am quite new to this business. What are the possible reasons that it generates different results for the same dataset in each run? Is it because of the optimization steps which it uses

[2022-06-23 13:54] ttaoREtw opened #329 "Some problems in angle_checker.h"
Thanks for the great work.
Just wanna point out that the naming of `histogram_length_` in `angle_checker.h` is kind of confusing.
It combines two concept
1. The total number of bins
2. The width of a bin

It seems to me it should be separated into two variables as `bin_width_` and `histogram_length_`.
Also, the angle may be 720 or larger. This is not handled well now.
File link: https://github.com

[2022-06-23 13:57] ttaoREtw commented on #329
I don't know how to change label.
It is more like an `enhancement` but not `bug`.

[2022-06-23 23:48] ymd-stella commented on #329
1.

[code]

If the two angles both range `[0, 360)`, the difference ranges `(-360, 360)`. It seems that the latter decision can be removed. However, it may be necessary to add an assert to avoid giving the wrong input.

It may be a good idea to change the function to one that takes two angles instead of a difference.

2.

[code]

I think it would be correct to calculate the following. What do you

[2022-06-23 23:58] ttaoREtw commented on #329
LGTM.
Thanks!

[2022-06-24 01:20] ttaoREtw commented on #329
The unit test needs to be revised, too.

https://github.com/stella-cv/stella_vslam/blob/686087db19e56d5a600997554fa80ab06c3fc9b3/test/stella_vslam/match/angle_checker.cc#L12-L20

[2022-06-26 00:22] ymd-stella commented on #321
Documentation is open source. See https://github.com/stella-cv/docs.

[2022-06-29 13:42] TheBricktop opened #332 "Automatic python bindings using Cppyy or similar system"
## What issue is the feature request related to?

I've noticed that in readme.md is a TODO for python bindings, i think that this is pretty easy to do now using numerous automatic binding solutions for c/cpp using python

## Describe the solution you'd like

I'll probably try to create python bindings using pybind or cppyy as they are quite mature and used in few other projects, that might even al

[2022-06-29 15:16] ymd-stella commented on #332
I left the OpenVSLAM description as is and forgot about it. It is not a high priority for me. I am not sure what demand there is.

[2022-06-30 10:03] TheBricktop commented on #332
Well im just using the python as a gluecode for opencv, depthai and some networking for me at least the native libs that do the heavy load and a fast modifiable python code is the most optimal approach. And considering that there is a lot people experimenting with computer vision and robotics that do primarily c and python it might be a nice thing to do.

[2022-07-07 14:00] Squiro commented on #332
Hi,

First of all I'm speaking from ignorance here: I don't know anything about Cppyy.

But... I'm not sure if an automatic binding tool can generate bindings that work properly for a system like this. I've been doing some work on [Python bindings for StellaVSLAM ](https://github.com/Squiro/StellaVSLAM-Python-bindings) and it's not as straightforward as it would appear.

For example, to run SLAM _

[2022-07-19 07:16] mitul93 opened #345 "Resources allocated with `new` should be deleted"
## Describe the bug
Resources allocated with `new` should be deleted.

https://github.com/stella-cv/stella_vslam/blob/4551a4b6dabf5fa1816e8efbda84fff1cda0cdba/src/stella_vslam/optimize/pose_optimizer.cc#L51

https://github.com/stella-cv/stella_vslam/blob/4551a4b6dabf5fa1816e8efbda84fff1cda0cdba/src/stella_vslam/optimize/pose_optimizer.cc#L60

https://github.com/stella-cv/stella_vslam/blob/4551a4b6

[2022-07-19 15:07] ymd-stella commented on #345
Is it not released inside g2o?

[2022-07-19 16:29] kbergel opened #347 "Incorrect lookup in tracking_module::search_local_landmarks()?"
In `tracking_module::search_local_landmarks()`, local landmarks are skipped for consideration as reprojection candidates if
`curr_landmark_ids.count(curr_frm_.id_)`

Should this not be
`curr_landmark_ids.count(lm->id_)`
?

(Currently line 498 of tracking_module.cc on the main branch).

[2022-07-20 06:09] mitul93 commented on #345
you are right `edge`, `vertex` and `algorithm` are released by g2o.
Only `terminateAction` needs to deleted.

Thank you for quick response and fix :)

[2022-07-20 08:31] youknowimcomingwhenyouhearmehumming opened #348 "Late initialization causes beginning of the trajectory to be missing"
## Describe the bug
Sometimes the system cannot initialize from the beginning of a video if there are only few features in the images in the first part of the video. Therefore, the system initialized sometimes later - let's say at frame 50. Consequently, the trajectory between frame 0-50 is missing.

## Suggested solution
This missing start trajectory can often be recovered by using exploiting the

[2022-07-21 12:23] #347 closed

[2022-07-26 13:12] #321 closed

[2022-07-27 13:32] jamestkpoon opened #351 "load_map_db() overrides .yaml features"
## Describe the bug
When I load a map database with ```SLAM.load_map_database(map_db_path);```, I get the following:
[code]
This seems to happen as part of load_map_database(), as the SLAM system then proceeds to parse keyframes and landmarks etc prior to the line ```[info] startup SLAM system```. The parameters appear to be parsed correctly from the .yaml as the expected values are printed during

[2022-07-27 16:01] ymd-stella commented on #351
When an output exists, it should be reported.

[2022-07-27 16:04] ymd-stella commented on #351
Please fill it in always.

[2022-07-27 16:14] jamestkpoon commented on #351
Thank you, I have added some additional debug log etc.
Can you please confirm if the ORB feature extraction params are being read from the JSON file that's passed into load_map_db()?

[2022-07-27 16:21] ymd-stella commented on #351
Please add details.
Are you saying that the parameters are not actually used?

[2022-07-27 16:25] ymd-stella commented on #351
It means that it will be loaded into **orb_params_database**. The current orb_params is always set from yaml.

[2022-07-27 16:26] #351 closed

[2022-07-30 04:50] ymd-stella commented on #351
@jamestkpoon Logs and comments added. If you have any questions, please ask.

[2022-08-05 11:29] youknowimcomingwhenyouhearmehumming opened #356 "System looses tracking when a previous map is loaded"
## Describe the bug
You have two videos from the same building. The only differences between the videos is the start and end are from different rooms inside this building. However, the middle part of both videos are from the exact same rooms in the building.

In one run a map is created and save from one of the videos .

Then in another run with the other video,  the map is loaded into the system.

[2022-08-05 16:03] ymd-stella commented on #356
Insufficient information. Please provide complete logs.

[2022-08-05 16:42] ymd-stella commented on #356
I think the reset occurs because the timestamp is calculated with the start time of the video as 0.
Try disabling the reset.

Insufficient information. Please provide video.

[2022-08-05 23:37] ymd-stella opened #357 "Timestamp starts at 0"
## Describe the bug

Because the timestamp starts at 0, resets may occur if the tracking is lost. (See #356)
It occurs in the following executables

- run_camera_slam
- run_image_slam
- run_video_slam

## To Reproduce

Use run_camera_slam, run_image_slam, run_video_slam.
(To cause a reset, start with mapping enabled and the map loaded after mapping.)

## Expected behavior

While playing back, use

[2022-08-05 23:40] ymd-stella commented on #356
Issues about resets are handled at https://github.com/stella-cv/stella_vslam/issues/357. Are there any other issues?

[2022-08-06 02:23] #357 closed

[2022-08-07 07:28] ymd-stella commented on #356
I will close this issue. If you have any additional issues, please create another issue with the missing information.

[2022-08-07 07:28] #356 closed

[2022-08-07 07:48] youknowimcomingwhenyouhearmehumming commented on #356
Hey :) Thanks for your fast answer.
I have tried both disabling the reset and also setting the appropriate time stamp, but it still fails. I'm away the next few days, but I will get back you Tuesday with an example video and logs of the event. Thank you so much for responding to these issues - it really makes it so much more fun to work with this repository compare to other SLAM repository :)

[2022-08-09 09:22] sadsasuke opened #359 "Getting Trajectory Data after Video Run"
Hi,
How to get the coordinates and poses after the video slam run has ended. It save a  .msg file but I also cant read it. I want to be able to get trajectory and poses file and plot them.
Thanks.

[2022-08-09 12:27] youknowimcomingwhenyouhearmehumming opened #362 "Re-open: System looses tracking when a previous map is loaded"
## Update
I couldn't reopen the original issue, so I made this new issue. I have tried both disabling the reset and also setting the appropriate time stamp, but it still fails. I have created a link with two video, theirs logs, and the used map of the first video that is loaded into the second video, so you can see the exact error yourself. The link is: https://mab.to/ogkuUgu5z.

Let me know if yo

[2022-08-09 14:37] ymd-stella commented on #362
I think the behavior is completely acceptable. Please describe the expected behavior. Do not ignore the issue template.

[2022-08-10 17:39] youknowimcomingwhenyouhearmehumming commented on #362
Thanks for the fast answer :)

I would expect the following:
1) the map from the other video is loaded
2) the initialization takes place
3) the tracking continues based on the initialization
4) at some point, some of the current tracked features can be recolonized in the preloaded map. Therefore, the two maps are merged together into a combined map/point cloud. You could argue that this is a bit l

[2022-08-10 22:58] ymd-stella commented on #362
It looks like the same feature that [VINS-Mono](https://ieeexplore.ieee.org/document/8421746?arnumber=8421746&source=authoralert) has. This is not a bug but a lack of feature. The label has been changed.

[2022-08-10 23:14] ymd-stella commented on #362
The following additional features are required

- [ ] Manage previously built maps
- [ ] Merge previously built maps with the current map

[2022-08-12 09:14] mitul93 opened #363 "struct declared as class"
## Describe the bug
`frame_observation` and `orb_params` is defined as struct, but declared as class.

https://github.com/stella-cv/stella_vslam/blob/04f87d943ffcc5edf3e09c1a9d2a806ef4b762b4/src/stella_vslam/data/frame_observation.h#L12

https://github.com/stella-cv/stella_vslam/blob/04f87d943ffcc5edf3e09c1a9d2a806ef4b762b4/src/stella_vslam/data/common.h#L14
https://github.com/stella-cv/stella_vsl

[2022-08-12 23:23] #363 closed

[2022-08-15 13:19] mitul93 opened #365 "unsigned int to float conversation"
## Describe the bug
`unsigned int` should not convert to `float` specifically when unsigned int is at its maximum value.

unsigned int maximum value `4294967295` will be rounded-off to `4294967296`

https://github.com/stella-cv/stella_vslam/blob/5dd30fe14d6719d6ae9764184c0c5036db2b6ea2/src/stella_vslam/match/stereo.cc#L67

## To Reproduce
No need to reproduce. The code is explanatory.

## Expected

[2022-08-18 08:37] youknowimcomingwhenyouhearmehumming commented on #362
Yes I very much agree with your take on the issue and your splitting of the task :) As said, I think the functionality in the  loop detection with the following correction of the map could be re-use, when implementing this new feature. I'm  very exited for this  feature - do you have an idea if it's something that will be worked on in the near future or is it a bit further down the line?

[2022-08-18 12:32] ymd-stella commented on #362
For most applications, once a map has been created with sufficient coverage, there is no need to update the map further. It is sufficient to simply do the tracking. Therefore, this feature is unnecessary.
If you think this feature is useful, please provide a more concrete example that would actually be useful.

[2022-08-18 12:44] youknowimcomingwhenyouhearmehumming commented on #362
Thanks for your quick answer.  The feature will be useful in changing environments, example:
1. warehouses where the goods are often moved around
2. Outdoor use where e.g. the tree looses their leaves in the winter time.
3. Construction sites with daily changes

[2022-08-19 11:22] ymd-stella commented on #362
I think you are overestimating the value of this feature. It does nothing to change the performance for changing environments.

I think the impact is just to reduce a little bit of work for mapping, and I will implement it after I finish other more prioritized tasks. (Of course, contributions are welcome.)

[2022-08-22 14:44] mitul93 opened #370 "Unused variables"
## Describe the bug
Following variables are unused and can be removed.

`frm_obs` in lambda `thread_right`
https://github.com/stella-cv/stella_vslam/blob/a404f57c1999d8e29475b490e5fe26c38469df53/src/stella_vslam/system.cc#L326

variable `ini_extractor_left_`
https://github.com/stella-cv/stella_vslam/blob/a404f57c1999d8e29475b490e5fe26c38469df53/src/stella_vslam/system.h#L242

variable `bow_db_`
ht

[2022-08-22 15:03] mitul93 opened #371 "pass by reference in loop variables"
## Describe the bug
following variables should pass by reference to avoid unnecessary copy

https://github.com/stella-cv/stella_vslam/blob/a404f57c1999d8e29475b490e5fe26c38469df53/src/stella_vslam/data/keyframe.cc#L326

https://github.com/stella-cv/stella_vslam/blob/a404f57c1999d8e29475b490e5fe26c38469df53/src/stella_vslam/data/map_database.cc#L196

https://github.com/stella-cv/stella_vslam/blob/a

[2022-08-22 19:50] jacobjohnso commented on #371
Hi, I would like to have a go at resolving this issue. Could you assign it to me?

[2022-08-22 22:40] ymd-stella commented on #370
LGTM

[2022-08-23 13:08] annavordou commented on #370
I'm interested in working on this isssue. Could you kindly provide some more information?

[2022-08-23 13:10] annavordou commented on #371
Hello, is this issue still open?

[2022-08-23 16:14] #371 closed

[2022-08-24 10:24] ymd-stella commented on #370
Simply delete unused variables.

[2022-08-30 11:40] SteffenEhrle opened #383 "Missing include when using DBoW2"
## An include is missing
"util/converter.h" must be included to use function "util::converter::to_desc_vec" in "data/bow_vocabulary.cc".

## To Reproduce
Using dbow2, compilation fails.

Steps to reproduce the behavior:
(Windows)
1. Use [dbow2](https://github.com/dorian3d/DBoW2) instead of fbow
2. Apply [this PR](https://github.com/dorian3d/DBoW2/pull/64) for DBoW2 binary loading and saving.

## E

[2022-08-30 12:01] SteffenEhrle commented on #383
#384 is the respective PR

[2022-08-30 13:02] #383 closed

[2022-09-05 14:47] SSLotfi opened #388 "Unable to find the keyframe ID"
I wanted to start by saying Great work on this model!

I have a simple issue with the output, I need to view the keyframes as a 360 image and to do so I need to know the keyframe ID in order to extract it from the original video but the output doesn't contain the keyframe IDs but only the path.

I had noticed in the earlier version of stella-vslam in the [commit](https://github.com/stella-cv/stell

[2022-09-05 21:53] ymd-stella commented on #388
Is it possible to identify the frame from the timestamp?

[2022-09-06 06:43] sadsasuke opened #390 "Disable viewer"
Hi,
How to disable pangolin viewer so the whole algorithm runs and outputs trajectory files without opening any viewer!
Thanks

[2022-09-12 07:37] Alex-Beh commented on #217
Hello, any update on this new feature? I am willing to help.

[2022-09-12 12:26] slovak194 commented on #217
I've seen @QMonteCarlo is working on something, but I have not found the for he is using.
It is still very relevant to me, but I have not progressed far.

[2022-09-13 03:31] Alex-Beh commented on #217
@QMonteCarlo @ymd-stella May I know your ideas on this feature? Any proposal or idea so far? else I can try to work on it and discuss with you all in future.

[2022-09-27 12:31] SteffenEhrle opened #394 "OpenMP requires signed integral type as index variables"
## Compile error: index Variable in OpenMP 'for' statement must have signed integral type
Using 'unsigned int' in openmp accelerated for-loops leads to compile errors with certain versions of OpenMP.

## To Reproduce
Compile under Windows using OpenMP (USE_OPENMP):
"error C3016: 'i': index variable in OpenMP 'for' statement must have signed integral type"

## Environment

- Hardware: [PC]
- CPU: [

[2022-09-27 12:54] ymd-stella commented on #394
Why can't you use the new version of OpenMP?

[2022-09-27 13:00] SteffenEhrle commented on #394
I am locked to this version of omp because of other libraries included via vcpkg.

[2022-10-08 01:27] #394 closed

[2022-10-08 01:28] #365 closed

[2022-10-08 01:44] ymd-stella opened #400 "Disable viewer at runtime"
## What issue is the feature request related to?

It would be useful to be able to disable viewer at runtime.

## Describe the solution you'd like

Add a command line argument to start the viewer only when it is true.

[2022-10-24 06:45] chongyaaa opened #412 "The database software can not open map.db"
I want to use Database Viewer to look the map.db，but i got the error " the file is not a database!".

[2022-10-24 08:13] #412 closed

[2022-11-03 05:22] ymd-stella opened #419 "Disconnection of socket_viewer when loading large map"
## Describe the bug

When loading a large size map, stella_vslam disconnects from socket_viewer.
https://github.com/stella-cv/stella_vslam/pull/407 was able to work around this problem, but it did not work properly in SLAM mode.

## To Reproduce

Load a large map in Localization mode.

## Expected behavior

- Map is displayed in socket_viewer in Localization mode when a large map is loaded
- Map i

[2022-11-08 03:00] uwu12234 opened #422 "I've created https://github.com/OpenVSLAM-Community/DBoW2."
I've created https://github.com/OpenVSLAM-Community/DBoW2.

_Originally posted by @ymd-stella in https://github.com/stella-cv/stella_vslam/issues/17#issuecomment-770395328_

Hi, your current DBoW2 Link is currently not working. Are there any new replacement?

[2022-11-10 10:16] AlexWan1027 opened #425 "complier error in data/graph_node.cc"
## Describe the bug

complier error report in ubuntu16.04
stella_vslam/data/graph_node.cc:106:50:  error: use of ‘keyfrm_and_num_shared_lms’ before deduction of ‘auto’
     for (const auto& keyfrm_and_num_shared_lms : keyfrm_and_num_shared_lms) {

This code should be 'for (const auto& keyfrm_and_num_shared_lm : keyfrm_and_num_shared_lms)', not 'for (const auto& keyfrm_and_num_shared_lms : keyfrm_a

[2022-11-10 12:13] ymd-stella commented on #425
Use Ubuntu 18.04 or later.

[2022-11-10 12:13] #425 closed

[2022-11-10 12:27] ymd-stella commented on #425
Renamed the variable name.

I don't intend to check if it works on Ubuntu 16.04, but it might.

[2022-11-16 07:26] SeungRyeol commented on #235
Hello @ymd-stella. Thank you for your continuous code update.
If I use the code of branch "feat/imu", can I use visual-inertial SLAM like ORB-SLAM3?

[2022-11-16 12:53] ymd-stella commented on #235
No.

[2022-11-23 14:05] hofbauerc opened #431 "Unable to execute run_video_slam with aist_entrance_hall_2"
Hello,

I am trying to use stella_vslam with ros but I am experiencing errors which nobody seems to have had before. I followed the instructions for the installation based on https://stella-cv.readthedocs.io/en/latest/installation.html. Everything seems to be installed properly and the test as seen in the installation procedure works as intended:
![image](https://user-images.githubusercontent.com/

[2022-11-23 14:11] #431 closed